{% extends "@Admin/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content %}
    <h1 class="page-header">
        Banner
    </h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Edit Banner
                    <a href="{{ urlFor('banner') }}" style="float:right;"
                       class=" btn btn-primary btn-xs">
                        <i class="fa fa-arrow-circle-left">
                        </i>&nbsp;Back
                    </a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-11">
                            <form role="form" class="form-action"
                                  action="{{ urlFor('banner-edit') }}/{{ encode(row.id) }}" method="POST"
                                  enctype="multipart/form-data">
                                <p class="errMsg">{{ errMsg }}</p>
                                <p class="succMsg">{{ succMsg }}</p>
                                <br/>
                                <p class="errMsg">{{ v.GetError('Banner Image') }}</p>
                                <div class="row">
                                    <input type="hidden" name='old_image' value="{{ row.image }}">
                                    <label class="col-xs-3" for="image">
                                        Banner Image
                                    </label>
                                    <div class="col-xs-2">
                                        {% if row.image %}
                                            <img src="{{ AssetUri }}/Asset/thumb/thumb.php?src={{ AssetUri }}/{{ row.image }}&w=150&h=50"/>
                                        {% else %}
                                            <img src="{{ AssetUri }}/Asset/thumb/thumb.php?src={{ AssetUri }}/Asset/Admin/images/no_image.png&w=150&h=50"/>
                                        {% endif %}
                                        <input type="file" name="image">
                                    </div>
                                </div>
                                <br/>

                                <p class="errMsg">{{ v.GetError('Title') }}</p>
                                <div class="row">
                                    <label class="col-xs-3" for="group">
                                        Title
                                    </label>
                                    <div class="col-xs-9">
                                        <input type="text" name="title" value="{{ row.title }}" class="form-control" id="group" placeholder="Title">
                                    </div>
                                </div>
                                <br/>
                                <p class="errMsg">{{ v.GetError('Details') }}</p>
                                <div class="row">
                                    <label class="col-xs-3" for="group">
                                        Details
                                    </label>
                                    <div class="col-xs-9">
                                        <input type="text" name="details" value="{{ row.details}}" class="form-control" id="group" placeholder="Details">
                                    </div>
                                </div>
                                <br/>
                                <p class="errMsg">{{ v.getError('Movie Type') }}</p>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="title">
                                        Movie Type <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-xs-9">
                                        <input type="text" name="movie_type" value="{{ row.movie_type }}" class="form-control" data-role="tagsinput" id="group" placeholder="Movie Type">
                                    </div>
                                </div>
                                <br/>

                                <p class="errMsg">{{ v.GetError('Link') }}</p>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="inputPassword1">
                                        Link
                                    </label>

                                    <div class="col-xs-9">
                                        <input type="text" name="link" value="{{ row.link }}" class="form-control"
                                               id="group" placeholder="Sort Order">
                                    </div>
                                </div>
                                <br/>

                                <p class="errMsg">{{ v.getError('Sort Order') }}</p>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="banner_time">
                                        Sort Order <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-xs-3">
                                        <input type="text" name="sort_order" value="{{ row.sort_order}}" class="form-control" id="group" placeholder="Sort Order">
                                    </div>
                                </div>
                                <br/>

                                <div class="row">
                                    <div class="col-xs-9">
                                        <input type="submit" class="btn btn-success" name="editNews" value="Save">
                                        <input type="reset" class="btn btn-danger" value="Cancel">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}