{% extends "@Admin/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content %}
    <h1 class="page-header">
        Banner
    </h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Banner Details
                    <a href="{{ urlFor('banner') }}" style="float:right;"
                       class=" btn btn-primary btn-xs">
                        <i class="fa fa-arrow-circle-left">
                        </i>&nbsp;Back
                    </a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-11">
                            <form role="form" class="form-action">
                                <div class="row">
                                    <label class="col-xs-3" for="image">
                                        {% if row.image %}
                                            <a href="{{ AssetUri }}/{{ row.image }}"
                                               class="highslide" onclick="return hs.expand(this)">
                                                <img src="{{ AssetUri }}/Asset/thumb/thumb.php?src={{ assetUri }}/{{ row.image }}&w=150&h=50"/>
                                            </a>
                                        {% else %}
                                            <img src="{{ AssetUri }}/Asset/thumb/thumb.php?src={{ AssetUri }}/Asset/Admin/images/no_image.png&w=150&h=50"/>
                                        {% endif %}
                                    </label>

                                    <div class="col-xs-2">
                                        &nbsp;
                                    </div>
                                </div>
                                <br/>

                                <div class="row">
                                    <label class="col-xs-3" for="title">
                                        Title
                                    </label>

                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="title"
                                               placeholder="{{ row.title }}"
                                               disabled>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <label class="col-xs-3" for="title">
                                        Details
                                    </label>

                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="details"
                                               placeholder="{{ row.details}}"
                                               disabled>
                                    </div>
                                </div>
                                <br/>


                                <div class="row devRegion">
                                    <label class="col-xs-3" for="title">
                                        Movie Type <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-xs-9">
                                        <input type="text" name="movie_type" value="{{ row.movie_type }}" class="form-control" data-role="tagsinput" id="group" placeholder="Movie Type" disabled>
                                    </div>
                                </div>
                                <br/>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="inputPassword1">
                                        Link
                                    </label>

                                    <div class="col-xs-9">
                                        <input type="text" name="link" value="{{ row.link }}" class="form-control"
                                               id="group" placeholder="Link" disabled>
                                    </div>
                                </div>
                                <br/>

                                <div class="row">
                                    <label class="col-xs-3" for="title">
                                        Sort Order
                                    </label>

                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="title"
                                               placeholder="{{ row.sort_order }}"
                                               disabled>
                                    </div>
                                </div>
                                <br/>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}