{% extends "@Admin/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content%}
    <h1 class="page-header">
        Banner
    </h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Banner
                    <a href="{{ urlFor('banner')}}"  style="float:right;" class=" btn btn-primary btn-xs">
                        <i class="fa fa-arrow-circle-left">
                        </i>&nbsp;Back
                    </a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-11">
                            <form role="form" class="form-action" action="{{ urlFor('banner-add')}}" method="POST" enctype="multipart/form-data">

                                <p class="errMsg">{{ errMsg }}</p>
                                <p class="succMsg">{{succMsg}}</p>

                                <p class="errMsg">{{ v.getError('Title') }}</p>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="title">
                                        Banner Title <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-xs-9">
                                        <input type="text" name="title" value="{{ v.rePopulate('title',reset)}}" class="form-control" id="group" placeholder="Banner Title">
                                    </div>
                                </div>
                                <br/>
                                <p class="errMsg">{{ v.getError('Details') }}</p>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="details">
                                        Details <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-xs-9">
                                        <input type="text" name="details" value="{{ v.rePopulate('details',reset)}}" class="form-control" id="group" placeholder="Details">
                                    </div>
                                </div>
                                <br/>

                                <p class="errMsg">{{ v.getError('Movie Type') }}</p>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="title">
                                        Movie Type <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-xs-9">
                                        <input type="text" name="movie_type" value="{{ v.rePopulate('movie_type',reset)}}" class="form-control" data-role="tagsinput" id="group" placeholder="Movie Type">
                                    </div>
                                </div>
                                <br/>

                                <p class="errMsg">{{ v.getError('Banner Image') }}</p>
                                <div class="row">
                                    <label class="col-xs-3" for="image">
                                        Image
                                    </label>
                                    <div class="col-xs-2">
                                        <input type="file" name="image">
                                    </div>
                                </div>
                                <br/>

                                <p class="errMsg">{{ v.getError('Link') }}</p>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="banner_time">
                                        Link <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-xs-9">
                                        <input type="text" name="link" value="{{ v.rePopulate('link',reset)}}" class="form-control" id="group" placeholder="Link">
                                    </div>
                                </div>
                                <br/>

                                <p class="errMsg">{{ v.getError('Sort Order') }}</p>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="banner_time">
                                        Sort Order <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-xs-3">
                                        <input type="text" name="sort_order" value="{{ v.rePopulate('sort_order',reset)}}" class="form-control" id="group" placeholder="Sort Order">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <input  type="submit" class="btn btn-success" value="Save">
                                        <input type="reset" class="btn btn-danger" value="Cancel">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}