 
 {% extends "@Site/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block title %} {{ row.title }} {% endblock %}
{% block exttraJs %}
    <script>

        $('.js-play').click(function () {
            var vid_num = $(this).data('vid');
            var vid_src = 'https://player.vimeo.com/video/' + vid_num;
            $('#myModal').modal('show');
            $('#myModal iframe').attr('src', vid_src);
        })

    </script>

{% endblock %}
{% block content %}
<div class="container ">

        {{ include('@Site/_INC/user-dash-sidebar.twig') }}
        
               <div class="col-md-9">
            <div class="profile-content">
               <div class="col-md-6">
            <div id="password">
                {# new form #}
                <h5>Change your password</h5>
                <div id="setPwdMsg" class="text16 append-bottom hide">Please set a password for your Eros Now
                    Account
                </div>
                <div id="currentPwdContainer" class="login-group signup-group disabledForm">

                    <input id="currentPassword" class="form-control" placeholder="Current Password" autofocus="" type="password">

                </div>
                <div class="login-group signup-group disabledForm">
                    <input id="newPassword" class="form-control" placeholder="New Password" type="password">
                </div>
                <div class="login-group signup-group disabledForm">
                    <input id="retypePassword" class="form-control" placeholder="Retype Password" type="password">
                </div>
                <div>
                    <button class="button profileBtn">Save Changes</button>
                </div>
                <div class="message prepend-top20" style="display:none;"></div>
                {# old form #}



                {#<div id="setPwdMsg" class="text16 append-bottom hide">Please set a password for your Eros Now Account</div>#}
                {#<div id="currentPwdContainer">#}
                    {#<div class="bold">Current Password</div>#}
                    {#<div><input id="currentPassword"  autofocus="" type="password"></div>#}
                {#</div></br>#}
                {#<div class="bold">New Password</div>#}
                {#<div><input id="newPassword"  type="password"></div></br>#}
                {#<div class="bold">Retype Password</div>#}
                {#<div><input id="retypePassword"  type="password"></div></br>#}
                {#<div><button disabled="disabled" class="button">Save Changes</button></div>#}
                {#<div class="message prepend-top20" style="display:none;"></div>#}
            </div>
            

            <div id="purchases">
                <div class="msg"></div>
                <div class="ppv"></div>
                <div class="subs"></div>
            </div>

            <div id="social">
                <div id="notConnectedToFB" class="hide">
                    By connecting your Facebook account with Eros Now you can
                    <ul>
                        <li>Log in to Eros Now with your Facebook account.</li>
                        <li>Share your favorite movies, videos and albums with your Facebook friends.</li>
                    </ul>

                    <div class="prepend-top20"><button id="btnConnectToFB"></button></div>
                </div>
                <div id="alreadyConnectedToFB" class="hide">
                    You have connected your Facebook account to ErosNow. Now you can
                    <ul>
                        <li>Log in to Eros Now with your Facebook account.</li>
                        <li>Share your favorite movies, videos and albums with your Facebook friends.</li>
                    </ul>

                    <div class="prepend-top20"><button id="btnDisconnectFromFB" class="button">Disconnect from Facebook</button></div>
                </div>

                <div class="message" style="display:none;"></div>
            </div>
                   </div>
        </div>
            </div>
        </div>
    </div>
        </div><!--/container -->

{% endblock %}
 
 
 