{% extends "@Site/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block exttraJs %}
<script>
function windowpop(url, width, height) {
    var leftPosition, topPosition;
    //Allow for borders.
    leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
    //Allow for title and status bars.
    topPosition = (window.screen.height / 2) - ((height / 2) + 50);
    //Open the window.
    window.open(url, "Window2", "status=no,height=" + height + ",width=" + width + ",resizable=yes,left=" + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY=" + topPosition + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no");
}
</script>
{% endblock %}
{% block content %}
<div class="container">

    <div id="signupbox" style=" margin-top:30px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                <div class="title-context" style="float:right; font-size: 85%; position: relative; top:-25px"><a id="signinlink" href="{{ urlFor('site-login') }}">Sign In</a></div>
            </div>
            <div class="panel-body">

                <form id="signupform" class="form-horizontal" role="form" action="{{ urlFor('site-signup') }}" method="POST">

                    {% if errMsg %}
                        <div class="alert alert-dismissible alert-warning"><i class="fa fa-warning"></i> &nbsp;{{ errMsg }} </div>
                    {% endif %}

                    {% if succMsg %}
                        <div class="alert alert-dismissible alert-success"><i class="fa fa-check"></i> &nbsp;{{ succMsg }} </div>
                    {% endif %}



                    <div class="form-group">
                        {% if v.GetError('First Name') %}<p class="errMsg col-md-12">{{ v.GetError('First Name') }}</p><div class="clearfix"></div>{% endif %}
                        <div class="login-group signup-group">
                            <input type="text" class="form-control" name="firstname" placeholder="First Name">
                        </div>
                    </div>


                    <div class="form-group">
                        {% if v.GetError('Last Name') %}<p class="errMsg col-md-12">{{ v.GetError('Last Name') }}</p><div class="clearfix"></div>{% endif %}
                        <div class="login-group signup-group">
                            <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                        </div>
                    </div>


                    <div class="form-group">
                        {% if v.GetError('Email') %}<p class="errMsg col-md-12">{{ v.GetError('Email') }}</p><div class="clearfix"></div>{% endif %}
                        <div class="login-group signup-group">
                            <input type="text" class="form-control" name="email" placeholder="Email Address">
                        </div>
                    </div>


                    <div class="form-group">
                        {% if v.GetError('Password') %}<p class="errMsg col-md-12">{{ v.GetError('Password') }}</p><div class="clearfix"></div>{% endif %}
                        <div class="login-group signup-group">
                            <input type="password" class="form-control" name="passwd" placeholder="Password" readonly="" onfocus="this.removeAttribute('readonly');">
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <input id="btn-signup" type="submit" value="Signup" class="btn btn-warning">
                    </div>

                    <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">
                        <div class="alternativeLogin clearfix">
                            <a id="btn-fblogin" onclick="return windowpop('{{ fbLoginUrl }}&login_type=facebook', 1000, 550)" class="btn btn-primary"><i class="fa fa-facebook fa-2x"></i>&nbsp;Login with Facebook</a>
                            &nbsp;
                            <a id="btn-fblogin btn-g+" href="{{ urlFor('gplus-login') }}" class="btn btn-danger"><i class="fa fa-google fa-2x"></i>&nbsp;Login with Google</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>
{% endblock %}