<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{ urlFor('dashboard') }}?clear=1"><i class="fa fa-windows fa-fw"></i>Dashboard</a>
            </li>
            <li>
                <a href="{{ urlFor('user-grid') }}?clear=1"><i class="fa fa-users"></i>&nbsp;User</a>
            </li>

            <li>
                <a href="{{ urlFor('banner') }}?clear=1"><i class="fa fa-th-list"></i>&nbsp;Banner </a>
            </li>

            <li>
                <a href="{{ urlFor('category') }}?clear=1"><i class="fa fa-film"></i>&nbsp;Movie Category </a>
            </li>
            <li>
                <a href="{{ urlFor('admin-movie') }}?clear=1"><i class="fa fa fa-video-camera"></i>&nbsp;Movie</a>
            </li>
            <li>
                <a href="{{ urlFor('admin-playlist') }}?clear=1"><i class="fa fa fa-paperclip"></i>&nbsp;PLaylist</a>
            </li>
            {#<li>#}
                {#<a href="#"><i class="fa fa-film"></i>&nbsp;Movie <span class="fa arrow"></span></a>#}
                {#<ul class="nav nav-second-level">#}
                    {#<li>#}
                        {#<a href="{{ urlFor('category') }}?clear=1"><i class="fa fa-film"></i>&nbsp;Movie Category </a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ urlFor('admin-movie') }}?clear=1"><i class="fa fa fa-video-camera"></i>&nbsp;Movie</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ urlFor('admin-playlist') }}?clear=1"><i class="fa fa fa-paperclip"></i>&nbsp;PLaylist</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}

        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->