<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} | Admin Panel</title>
    {% block css %}
        <link href="{{ Asset('/Asset/Admin/css/custom.css" rel="stylesheet') }}">
        <link rel="stylesheet" type="text/css" href="{{ Asset('/Asset/Admin/hs/highslide.css') }}" />
        <!-- Bootstrap Core CSS -->
        <link href="{{ Asset('/Asset/Admin/css/bootstrap.min.css')}}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{{ Asset('/Asset/Admin/css/plugins/metisMenu/metisMenu.min.css')}}" rel="stylesheet">

        <link href="{{ Asset('/Asset/Admin/css/plugins/tags/tagsinput.css')}}" rel="stylesheet">

        <link href="{{ Asset('/Asset/Admin/css/plugins/select/bootstrap-select.css')}}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ Asset('/Asset/Admin/css/sb-admin-2.css')}}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ Asset('/Asset/Admin/font-awesome-4.3.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <!-- Custom CSS -->
        <link href="{{ Asset('/Asset/Admin/css/custom.css')}}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}

</head>
<body>
{% block wrapper %}
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            {{ include('@Admin/_INC/top_header.twig') }}
            {{ include('@Admin/_INC/sidebar_menu.twig') }}
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}
                        <!----
                        |INNER CONTENT STARTS
                        ---->

                        WELCOME TO MASTER PAGE
                        <!----
                        |INNER CONTENT ENDS
                         ---->
                    {% endblock %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
{% endblock %}
<!-- /#wrapper -->

<!-- jQuery Version 1.11.0 -->
<!-- Core Scripts - Include with every page -->
<script src="{{ Asset('/Asset/Admin/js/jquery-1.11.0.js') }}" ></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ Asset('/Asset/Admin/js/bootstrap.min.js') }}" ></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ Asset('/Asset/Admin/js/plugins/metisMenu/metisMenu.min.js') }}" ></script>

<!-- Tags Input Plugin JavaScript -->
<script src="{{ Asset('/Asset/Admin/js/plugins/tags/tagsinput.js') }}" ></script>

<!-- Select Input Plugin JavaScript -->
<script src="{{ Asset('/Asset/Admin/js/plugins/select/bootstrap-select.js') }}" ></script>

<!-- Validator Plugin JavaScript -->
<script src="{{ Asset('/Asset/Admin/js/plugins/validator/validator.js') }}" ></script>

<!-- Typehead Plugin JavaScript -->
<script src="{{ Asset('/Asset/Admin/js/plugins/typehead/typehead.js') }}" ></script>

<!-- File Plugin JavaScript -->
<script src="{{ Asset('/Asset/Admin/js/plugins/file/bootstrap-file.js') }}" ></script>

<!-- Custom Theme JavaScript -->
<script src="{{ Asset('/Asset/Admin/js/sb-admin-2.js')}}" ></script>

<script type="text/javascript" src="{{ Asset('/Asset/Lib/tinymce/js/tinymce/jquery.tinymce.min.js') }}" ></script>
<script>
    $(function() {
        $('textarea').not('.simple').tinymce({
            script_url: "{{ Asset('/Asset/Lib/tinymce/js/tinymce/tinymce.jquery.min.js')}}"
        });
    });
</script>
<!----HIGH SLIDE---->
<script type="text/javascript" src="{{ Asset('/Asset/Admin/hs/highslide-full.js')}}" ></script>
<!--script type="text/javascript" src="{{ Asset('/Asset/Admin/hs/highslide-with-gallery.js')}}" ></script-->

    <script type="text/javascript">

        hs.graphicsDir = "{{ Asset('/Asset/Admin/hs/graphics/')}}";
        hs.outlineType = 'rounded-white';
        hs.wrapperClassName = 'draggable-header';
        hs.showCredits = false;
        /*hs.Expander.prototype.onAfterClose = function() {
         window.location.reload();
         };*/
        //hs.easing = 'easeOutBack';
        /*setTimeout(function ()
         {
         try
         {
         parent.window.hs.getExpander().close();
         } catch (e)
         {
         }
         }, 3000);*/

        // Add black close button
        hs.registerOverlay({
            slideshowGroup: 'group1',
            html: '<div class="closebutton-black" onclick="return hs.close(this)" title="Close"></div>',
            position: 'top right',
            fade: 2,
            useOnHtml: true
        });

        // Add red close button
        hs.registerOverlay({
            slideshowGroup: 'group2',
            html: '<div class="closebutton-red" onclick="return hs.close(this)" title="Close"></div>',
            position: 'top right',
            fade: 2,
            useOnHtml: true
        });

        $('input[type=file]').bootstrapFileInput();


</script>
{% block js %}{% endblock %}

</body>

</html>
