{% extends "@Site/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content %}

    <!-- Privacy policy-->
    <div class="std-width pd-top40">

        <div class="largexl append-bottom last font-prox-reg">About Us</div>
        <div class="pp">

            <p>Hamro Movie is the first official site for watching Nepali Movie of all time.  It is a digital collection of wide range of Nepali Movie.   Hamro Movie shares your favorite movie and keeps you connected with Nepali lifestyle and culture. You can enjoy your moments with family and friends wherever you are.</p>
            <p>We believe in promoting and preserving   culture and tradition through Nepali Movie. Nepali Movie lovers can watch their favorite movie and even share it to their beloved one. Hamro Movie provides you the platform to watch Free Movies. We care about the premium users and subscribers as well. We are coming up with the feature of payment mode so that you can buy movie on premium basis and even subscribe them. You can add your favorite movies  to your wishlist and buy it later.</p>
            <p>We always value your feedback. Feel free to suggest us at info@hamromovie.com</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
    <!--privacypolicy end-->
{% endblock %}