{% extends "@Site/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content %}

    <!-- Terms and condition-->
    <div class="std-width pd-top40">
        <div class="largexl append-bottom last font-prox-reg">Terms of Use</div>
        <div class="tos">
            <h3><span>1.</span>Overview</h3>
            <span>1.1. </span><p>Welcome to Hamro Movie. We are an online video streaming service. We offer our users access to audio-visual entertainment in the form of full length feature films, non-feature film videos, movie trailers and various other content offered through our website (“Content”). The Content is made available through Internet streaming and is accessible through Web browsers. The Content, the video streaming of our Content, our website, and any other features, functionalities, applications, materials, or other services offered from time to time by Hamro Movie in connection with any of the above, however accessed, are referred to collectively as the <strong>“Services”</strong> or the <strong>“Hamro Movie Services”</strong></p>

            <h3><span>2.</span>Acceptance of the Terms of Use</h3>
            <span>2.1. </span><p>The use of the Hamro Movie Services is available only to persons who can form legally binding contracts under Nepalese Contract Act, 2000. Persons who are incompetent to contract within the meaning of the Nepalese  Contract Act, 2000 are not eligible to use the Hamro Movie Services. Without prejudice to the generality of the above, no person under the age of 18 may use or access the Hamro Movie Services or the Content or attempt to enter into any transactions on our website.</p>
            <span>2.2. </span><p>These terms of use, which include our <a href="{{ urlFor('privacy-policy') }}" class="inv-link">Privacy Policy</a>, as may be amended or altered by Hamro Movie (“Terms of Use”), govern your use of the Hamro Movie Services. Your access or use of the Hamro Movie Services including this website constitutes a legally binding agreement with Bidhee Private  Ltd. (hereinafter referred to as “Hamro Movie”, which expression shall, unless repugnant to the context, mean and include all their affiliates, administrators, representatives, agents, legal heirs and assigns) to be bound by these Terms of Use. If you do not agree with these Terms of Use, you should not use or access the Hamro Movie Services.</p>
            <span>2.3. </span><p>While the Content accessible through the Hamro Movie Services have been certified for viewership by the appropriate authority, we do not warrant that you will find the Content suitable for your personal consumption. By using and accessing the Hamro Movie Services you confirm that you do not find the Content to be vulgar, obscene, pornographic, misleading, defamatory, libellous, offensive, derogatory, threatening, harassing, abusive or of a violent nature. If you find any of the Hamro Movie Services to be unsuitable in any manner, please discontinue your access and use of the Hamro Movie Services. If you are of the belief that any of the Hamro Movie Services are illegal or infringing any proprietary rights, please follow the procedure outlined in paragraph 10 of these Terms of Use.</p>

            <h3><span>3.</span>Changes to Terms of Use</h3>
            <span>3.1. </span><p>Hamro Movie reserves the right, at its sole discretion, to change, modify, add or remove any portion of these Terms of Use in whole or in part, at any time. Changes in these Terms of Use in will be effective from ten days or such other reasonable time specified when notice of such change is posted. Your continued use or access of the Hamro Movie Services after any such changes constitutes your acceptance of the new Terms of Use.</p>

            <h3><span>4.</span>Privacy and Communications Preferences</h3>
            <span>4.1. </span><p>Any information submitted through the Hamro Movie service, including personally identifiable information, is subject to the terms of our <a class="inv-link" href="{{ urlFor('privacy-policy') }}">Privacy Policy</a>.</p>
            <span>4.2. </span><p>By using or accessing the Hamro Movie service, you (i) consent to the use of electronic communications in order to enter into contracts and confirm terms from Hamro Movie; (ii) consent to the electronic delivery of notices, policies and records of transactions initiated or completed by you online; and (iii) acknowledge that you have access to the necessary software and hardware to receive electronic records from Hamro Movie in connection with transactions initiated or completed by you online. You consent to receiving electronic communications from Hamro Movie regarding Hamro Movie’s services and you represent that you are not on any Do Not Call / Do Not Disturb registries under the Telecom Unsolicited Commercial Communications Regulations, 2007, the Telecom Commercial Communications Customer Preference Regulations, 2010 or otherwise which preclude us from sending you these communications.</p>

            <h3><span>5.</span>Ownership of Intellectual Property</h3>
            <span>5.1. </span><p>Hamro Movie, its affiliates and its licensors/licensees have, and shall continue to retain, all title, rights and interests in the Hamro Movie Services and the Content, including all information, design, layout, text, graphics, logos, designs, photographs, databases, icons, images, audio/video clips, digital downloads, data compilations, graphics, illustrations, configurations, data, data fields, flash presentations, code, underlying technology, content delivery mechanisms, plug-ins and other files and software.</p>
            <span>5.2. </span><p>The Hamro Movie Services including the website, the look and feel of the website, the presentation of the Content, user interface, databases and compilations are the sole and exclusive property of Hamro Movie.</p>
            <span>5.3. </span><p>“hamromovie” and “hamromovie International” are registered trademarks of hamromovie International Ltd. The Hamro Movie logo, gobe.com and hamromovie.com are used as trademarks or service marks of hamromovie International Ltd. The Hamro Movie website and user interfaces, including but not limited to its graphics, logos, page headers, button icons, scripts and service names constitute trade dress of hamromovie International Ltd. The trademarks, service marks and trade dress of Hamro Movie may not be used or reproduced without prior written approval from Hamro Movie and may not be used in connection with any product or service that is not affiliated with Hamro Movie, in any manner that is likely to cause confusion among customers, in any manner that dilutes the rights of Hamro Movie, or in any manner that disparages or discredits Hamro Movie. Other trademarks that appear on the Hamro Movie website and user interfaces are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Hamro Movie. Any images of persons or personalities contained on the Hamro Movie website and user interfaces are not an indication or endorsement of Hamro Movie or any particular product or our service unless otherwise indicated. </p>

            <h3><span>6.</span>Limited License</h3>
            <span>6.1. </span><p>Hamro Movie grants you a temporary, non-exclusive, non-transferable, conditional, limited right to access and view the Hamro Movie Services and the Content for your personal, non commercial use, subject to the conditions provided below, during the period during which you are bound by these Terms of Use. You shall have no right or interest in the Hamro Movie Services or the Content other than as expressly provided herein.</p>
            <span>6.2. </span><p>Your limited license as provided is subject to the following conditions:</p>
            <p>
            </p><ol>
                <li>The Content may not be modified, copied, distributed, framed, reproduced, republished, downloaded, displayed, posted, transmitted, or sold in any form or by any means, in whole or in part, for any purpose whatsoever, without Hamro Movie’s prior written permission, except as expressly permitted by the limited license;</li>
                <li>You may not may not create any derivative works from the Content or Hamro Movie Services (including without limitation, montages, mash-ups, recreations, derivations, screen captures, wallpaper, desktop themes or any other physical or digital material) or republish the Content or Hamro Movie Services on any Internet, intranet or extranet site or incorporate the Content in any other database or compilation;</li>
                <li>You may not extract, collect, harvest, test or benchmark, through electronic means or otherwise, the Hamro Movie Services or any of the Content;</li>
                <li>You may not use the Content or the Hamro Movie Services for any purposes competitive with or derogatory to Hamro Movie and you may not associate the Hamro Movie Services or the Content with, provide links from or display alongside any material that may be vulgar, obscene, pornographic, misleading, defamatory, libellous, offensive, derogatory, threatening, harassing, abusive or violent nature, or such that it is proscribed under applicable law or infringes third party rights;</li>
                <li>You shall not directly or indirectly, through any means whatsoever, permit, abet or assist any access or use of the Hamro Movie Services or the Content in a manner not expressly provided or permitted herein; and</li>
                <li>This limited and conditional license may be revoked at any time by Hamro Movie.  </li>
            </ol>
            <p></p>

            <h3><span>7.</span>The Use of Hamro Movie Services </h3>
            <span>7.1. </span><p>We distribute movies and other filmed entertainment and we reserve the right to display and promote the filmed entertainment or other information through our service, including our website and user interfaces, to you in any manner we choose in our sole and absolute discretion. In addition, the Hamro Movie service allows you and other third parties to post reviews or comments concerning the entertainment distributed by us. Any opinions, advice, statements, services, offers, or other information that constitutes part of the content expressed or made available by third parties through the Hamro Movie service are those of the respective authors or producers and not of Hamro Movie, or its shareholders, directors, officers, or employees or licensors. Under no circumstances shall Hamro Movie, or its shareholders, directors, officers or employees or licensors be held liable for any loss or damage caused by your reliance on information obtained through the Hamro Movie service. It is your responsibility to evaluate the information, opinion, advice, or other content available through the Hamro Movie service.</p>
            {#<span>7.2. </span>#}
            {#<p>#}
                {#The use of the Hamro Movie Services and access to the Content are subject to you having the necessary hardware, software and network resources#}
                {#as listed under our <a class="inv-link" href="/#!/getting_started">System Requirements</a>.#}
            {#</p>#}
            <span>7.2. </span><p>We disclaim all warranties in relation to the Hamro Movie Services and the Content. Please read paragraph 11 of these Terms of Use for our detailed disclaimer. In addition to the disclaimer of warranties therein, we do not guarantee that access to the Hamro Movie Services or the Content shall be error free. Your access to the Hamro Movie Services or the Content and the quality of your use of the same shall be contingent on various factors outside the control of Hamro Movie, including the network resources used by you. Hamro Movie Services may be bandwidth intensive. We are not responsible for any costs that you incur while attempting to access the Hamro Movie Services or the Content, including payments towards Internet and broadband access or any additional expenses incurred by you including charges imposed by your network service provider for 3G/or roaming access.</p>
            <span>7.3. </span><p>You may access the Hamro Movie Services and Content only in geographic locations where we offer our services. The Content that may be available to watch may vary by geographic location. Hamro Movie uses technologies to verify your geographic location and thereby limit your access to content not available in such location.</p>
            <span>7.4. </span><p>From time to time, we test various aspects of our service, including our website, user interfaces, service levels, plans, promotions, features, availability of content, delivery, and pricing, and we reserve the right to include you in or exclude you from these tests without notice.</p>

            <h3><span>8.</span>Membership and Features</h3>
            <span>8.1</span><p>Membership: Some of the features of the Hamro Movie Services and some of the Content are made available to our unregistered users. Most of the features of the Hamro Movie Services and the Content are available only to our registered members. To become a registered member, you will be required to provide certain personal information as well as make payments towards membership through a third party payment gateway. Please refer to our <a class="inv-link" href="{{ urlFor('privacy-policy') }}">Privacy Policy</a> to see how we treat the personal information collected from you and please see paragraph 9 of these Terms of Use for more information regarding the third party payment gateway. We may offer a number of membership plans, including special promotional plans or memberships with different limitations. Some of these promotional memberships may be offered by third parties in conjunction with the provision of their own products and services. We are not responsible for the products and services provided by such third parties. We reserve the right to modify, terminate or otherwise amend our offered membership plans.</p>
            <span>8.2. </span><p>Account Information and Security: When creating your account, you must provide accurate and complete information. You are also responsible for maintaining the confidentiality of your account and password and for restricting access to your Hamro Movie ready device. If you disclose your password to anyone or share your account and/or devices with other people, you take full responsibility for their actions and may be required to compensate Hamro Movie for any losses arising out of them. You shall not use another user’s membership account without permission. You must notify us immediately of any breach of security or unauthorized use of your account and you should also report this instance to all your card issuers, as well as your local law enforcement agency. In order to provide you with ease of access to your account and to help administer the Hamro Movie service, Hamro Movie implements technology that enables us to recognize you as the account holder and provide you with direct access to your account without requiring you to retype any password or other user identification when you revisit the Hamro Movie service. You are responsible for updating and maintaining the truth and accuracy of the information you provide to us relating to your account.</p>
            <span>8.3. </span><p>Membership Cancellation: You may cancel your Hamro Movie membership at any time. We do not provide refunds or credits for any partial-month membership periods or unwatched Content.</p>
            <span>8.4. </span><p>Change of Features and Content: Hamro Movie reserves the right to change, supplement, alter or remove any of its features or Content as it deems fit and a paid membership does not guarantee continued access to such features.</p>
            {#<span>8.5. </span><p>Fair Use Restrictions: Hamro Movie may also place additional fair use restrictions including Restrictions on concurrent connections and time of usage as provided <a class="inv-link" href="#!/help_account">here</a>.</p>#}
            <span>8.5. </span><p>Advertisements: Some of the services, facilities or features of the Hamro Movie Services are supported by advertising revenue and the Hamro Movie Services may display advertisements and promotions. These advertisements may be targeted to the content of information stored on the website, queries made through the Hamro Movie Services or other information. The manner, mode and extent of advertising by Hamro Movie through the Hamro Movie Services are subject to change without specific notice to you. Hamro Movie takes no responsibility for advertisements or any third party material, nor does it take any responsibility for the products or services provided by advertisers. Any dealings you have with advertisers found while using the Hamro Movie Services are between you and the advertiser, and you agree that Hamro Movie shall not liable for any loss or claim that you may have against an advertiser.</p>
            <span>8.6. </span><p>Promotional Offers: Hamro Movie may from time to time, offer certain additional features or discounted access as promotional offers, free of cost or at discounted rates to its users. Such promotional offers are offered by Hamro Movie on an “as is” basis without any warranty or obligation regarding such promotional offer, unless expressly provided otherwise. No promotional offer shall be deemed to imply any obligation on Hamro Movie to continue to offering such or similar promotional offers. Any promotional offer made available by Hamro Movie may not be combined with any other offers.</p>
            <span>8.7. </span><p>Gift a Movie: If and when offered by Hamro Movie, you may be permitted to purchase and transfer the right to access and view certain content in accordance with our “Gift a Movie” promotional offer. All such transfers shall be in the form of a gift and without receiving any compensation or consideration for the same and shall be in accordance with the terms and conditions provided herein. Nothing contained herein shall entitle you to sell or offer for sale such rights or entitle you to provide the rights as part of any other promotional offer or competition without the express, prior and written consent of hamromovie. The rights of the transferee to access and view the content shall be subject to such transferee accepting and abiding by these Terms of Use and becoming a registered member of Hamro Movie. In the event of the transferee fails or refuses to become a registered member of Hamro Movie and accept the Terms of Use within 10 days, the rights to access and view the content shall lapse without any refund to the transferor. This is a promotional offer and may be withdrawn at any time and for any reason without any prior notice or liability.</p>
            <span>8.8. </span><p>User Reviews: We permit you to post reviews of content available through the Hamro Movie service. We do not regularly select or review the content posted on the Hamro Movie website; however, we reserve the right to reject, remove or edit such content at anytime without notice. You may not post reviews  or otherwise disseminate on or through the Hamro Movie Services, any content that is unlawful, harassing, libellous, tortious, abusive, offensive, threatening, or obscene, or materials which infringe or violate any third party’s copyright, trademark, trade secret, privacy or other proprietary or property right, or that could constitute a criminal offence, give rise to civil liability or otherwise violate any applicable law or regulation; or, that are otherwise objectionable, including without limitation, content that evidences bigotry, racism, sexism, or hatred, or that promotes illegal activities or physical harm against anyone. You understand and agree that we may, but are not obligated to, review the content and may delete or remove it (without notice) in our sole and absolute discretion, for any reason or no reason.</p>
            <span>8.9. </span><p>Facebook Access: For members in certain countries, you can connect your Hamro Movie account to Facebook. This feature requires you to accept and comply with the terms of service and privacy policy of Facebook. If you choose to connect, you'll be able to take advantage of various social features we will be creating as part of the Hamro Movie service, as well as features available on Facebook. In addition, Hamro Movie may personalize and otherwise seek to enhance your experience based on your information from your Facebook account. By connecting your Hamro Movie account to your Facebook account, you acknowledge and agree that you are consenting to the continuous release of information about you to others, including to Facebook (in accordance with your privacy settings on Facebook and your account settings on Hamro Movie). If you do not want information about you, including information such as your viewing activity, to be shared in this manner, do not use the Facebook connect feature. Hamro Movie disclaims all warranties in relation to and all liabilities arising from any use of your personal information by Facebook or any other third party.</p>
            <span>8.10. </span><p>Streaming Software/Software Plug-ins: Any software, including any files, images generated by the software, code, and data accompanying the software, used or accessible through this website may be used by you solely for accessing and using this website for purposes expressly stated herein. Hamro Movie retains full and complete title to all intellectual property rights and other proprietary rights subsisting in or used in relation to such software. You agree not to copy, distribute, sell, modify, decompile, reverse engineer, disassemble or create derivative works from any such software.</p>

            <h3><span>9.</span>Billing and Payment</h3>
            <span>9.1. </span><p>We use a third party payment gateway to process payments made to Hamro Movie. The third party payment gateway service provider will require certain financial information including your credit card /debit card or other banking information. Other than providing a confirmation upon receipt of payment against a membership account, Hamro Movie disclaims any and all liabilities in relation to your payment processing by such third party payment gateway service provider and the collection and processing of any information provided to party payment gateway service provider. While using such payment gateways to make payments to Hamro Movie, you will be required to accept the terms of use and privacy policies of such payment gateway service provider. We request you to please make yourself familiar with the terms of use and privacy policies of your respective payment gateway service provider before using such service.</p>

            <h3><span>10.</span>Role of Hamro Movie as in Intermediary</h3>
            <span>10.1. </span><p>We are an intermediary, as defined under the Information Technology Act, 2000. As part of our obligations under the Information Technology Act, 2000, upon receiving actual knowledge that any information, data or communication link residing in or connected to a computer resource controlled by us is being used to commit an unlawful act, we are required to remove or disable access to such material.</p>
            <span>10.2. </span><p>If you believe your work has been reproduced or distributed through the Hamro Movie Services in a way that constitutes copyright infringement or are aware of any infringing material available through the Hamro Movie Services or if you have tangible and conclusive information that any of the material made available through Hamro Movie is illegal, please notify us through email at: <a class="inv-link" href="mailto:info@hamromovie.com">info@hamromovie.com</a>.</p>
            <span>10.3. </span><p>The notification must be in writing and where the claim relates to one of copyright infringement, the notification must contain a description of the copyrighted work that is claimed to have been infringed, authorization to act on behalf of the copyright owner, details of what material is allegedly infringing, how the infringement has occurred/is occurring, the location of the same within the Hamro Movie Services and your contact details. Where the claim relates to one of illegal content, the notification must include tangible and conclusive information that the material made available through the Hamro Movie Services is illegal under the laws of India.</p>

            <h3><span>11.</span>Disclaimers of Warranties and Limitations on Liability</h3>
            <span>11.1. </span><p>The Hamro Movie Services, including our website and user interfaces, and all Content and software associated therewith, or any other features or functionalities associated with the Hamro Movie Service, are provided "as is" and "as available" with all faults and without warranty of any kind. To the fullest extent permissible pursuant to applicable law, we, our affiliates and our licensors make no representations or warranties of any kind with respect to the Hamro Movie Services, our website and user interfaces, and all Content and software associated therewith, including without limitation any warranty of merchantability, fitness for a particular purpose or non-infringement.</p>
            <span>11.2. </span><p>Hamro Movie assumes no responsibility for and make no warranty or representation as to the accuracy, currency, completeness, reliability or usefulness of any advice, opinion, statement or other content or of any products or services advertised by third parties through the Hamro Movie Services. Hamro Movie does not make any warranty that the Hamro Movie Services or the Content will meet the your requirements, or that the Hamro Movie Services or the Content will be uninterrupted, timely, secure, free from be free from errors, interruption, loss, corruption, attack, viruses, interference, hacking, or other security intrusion, or that defects, if any, will be corrected.</p>
            <span>11.3. </span><p>Hamro Movie assumes no responsibility for and make no warranty or representation as to the accuracy, currency, completeness, reliability or usefulness of any advice, opinion, statement or other content or of any products or services advertised by third parties through the Hamro Movie Services. Hamro Movie does not make any warranty that the Hamro Movie Services or the Content will meet the your requirements, or that the Hamro Movie Services or the Content will be uninterrupted, timely, secure, free from be free from errors, interruption, loss, corruption, attack, viruses, interference, hacking, or other security intrusion, or that defects, if any, will be corrected.</p>
            <span>11.4. </span><p>You expressly agree that use and access of the Hamro Movie Services, including all Content, data or software distributed by, downloaded or accessed from or through the Hamro Movie Services, is at your sole risk. You understand and agree that you will be solely responsible for any damage to your computer system or loss of data that results from the download or access of such Content, data and/or software.</p>
            <span>11.5. </span><p>We do not make any representations with respect to the contents and composition of the Content from the Hamro Movie service or the descriptions of any movie or TV show content contained on our website and user interfaces. We do not endorse, condone, support or make any warranties regarding accuracy or completentess of any statements, representations, advice, views or opinions contained in any of the Content or advertisements. All such statements, representations, advice, views or opinions may be partly or entirely fictional, exaggerated or false and the licensors of such Content or advertisement are solely responsible for the same.</p>
            <span>11.6. </span><p>Hamro Movie assumes no responsibility for any damages suffered by you, including, but not limited to, loss of data from delays, non-deliveries of Content or email, errors, system down time, mis-deliveries of Content or email, network or system outages, file corruption, or service interruptions caused by the negligence of Hamro Movie, its affiliates, its licensors, or your own errors and/or omissions. Except as provided under the <a class="inv-link" href="{{ urlFor('privacy-policy') }}">Privacy Policy</a>, Hamro Movie disclaims any warranty or representation that confidentiality of information transmitted through the Hamro Movie Services will be maintained. No oral or written information or advice given by us or our authorized representative shall create a warranty or otherwise constitute a representation binding upon Hamro Movie or its affiliated parties.</p>
            <span>11.7. </span><p>Hamro Movie may provide the Hamro Movie Services, links to web sites operated by other entities. If you use these sites, you may leave this website based on your browser settings and may not be able to complete or may have to re-do certain operations through the Hamro Movie Services. If you decide to visit any linked site, it is done so at your own risk and it is your responsibility to take all protective measures to guard against viruses or other destructive elements. Hamro Movie makes no warranty or representation regarding, and does not endorse, any linked web sites or the information appearing thereon or any of the products or services described thereon. The links do not imply that Hamro Movie, its affiliates or its licensors sponsors, endorses, is affiliated or associated with, or is legally authorized to use any trademark, trade name, logo or copyright symbol displayed in or accessible through the links, or that any linked site is authorized to use any trademark, trade name, logo or copyright symbol of Hamro Movie.</p>
            <span>11.8. </span><p>The disclaimers provided herein are supplementary to the Legal Disclaimer and neither shall substitute or limit the other.</p>
            <span>11.9. </span><p>IN NO EVENT SHALL Hamro Movie BE LIABLE TO ANY ENTITY FOR ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL OR OTHER DAMAGES INCLUDING, WITHOUT LIMITATION, ANY LOST PROFITS, BUSINESS INTERRUPTION, LOSS OF INFORMATION OR PROGRAMS OR OTHER DATA ON THE YOUR INFORMATION HANDLING SYSTEM THAT ARE RELATED TO THE USE OF, OR THE INABILITY TO USE, THE CONTENT, AND FUNCTIONS OF THE Hamro Movie SERVICES, EVEN IF Hamro Movie IS EXPRESSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE PARTIES HERETO ACKNOWLEDGE THAT THIS IS A REASONABLE ALLOCATION OF RISK.</p>

            <h3><span>12.</span>Indemnity</h3>
            <span>12.1. </span><p>You undertake to indemnify, defend and hold harmless without limitation, Hamro Movie, its affiliates and its licensors from any actual or alleged loss, damage or claim arising from or related to any breach of any of the terms, conditions or provisions of these Terms of Use.</p>

            <h3><span>13.</span>Other Terms</h3>
            <span>13.1. </span><p>Termination: We reserve the right to terminate or restrict your use of our service, without notice, for any or no reason whatsoever. Hamro Movie may also impose limits on certain features and services or restrict your access to parts or all of the Hamro Movie Services without any notice or liability.</p>
            <span>13.2. </span><p>External Links to this website: All links to the website must be expressly approved in writing by hamromovie and shall be subject to the following conditions: (i) the link is a text-only link containing only the name “Hamro Movie” and directs only to <a href="http://hamromovie.com" class="inv-link">http://hamromovie.com</a> and not to any other page of the website; (ii)  the link, when activated by a user, displays that page full-screen in a fully operable and navigable browser window and not within a frame on the linked website; (iii) the appearance, position, and other aspects of the link may neither create the false appearance that an entity or its activities or products are associated with or sponsored by Hamro Movie nor be such as to damage or dilute the goodwill associated with the name and trademarks of Hamro Movie, its affiliates or licensors; and Hamro Movie reserves the right to revoke or alter the terms of such consent to link at any time in its sole discretion.</p>
            <span>13.3. </span><p>Export Control Regulations: You hereby agree to comply with all applicable laws regarding software and the transmission of technical data exported from the country in which you reside</p>
            <span>13.4. </span><p>Governing Law: These Terms of Use shall be governed by and construed in accordance with the laws of India without regard to conflict of laws provisions. Hamro Movie makes no representation that the Hamro Movie Services or the Content provided is appropriate or available for use outside India. You are not to access or use this website from a jurisdiction which restricts you from accessing this website.</p>
            <span>13.5. </span><p>Severability: If any part of these Terms of Use is held illegal or unenforceable by a court of competent jurisdiction, such provision shall be deemed separable from the remaining parts of these Terms of Use and shall not affect or impair the validity of enforceability of the remaining provisions of these Terms of Use. If any part of these Terms of Use is found to be unreasonable by a court of competent jurisdiction, such term shall be limited to the extent considered reasonable and continue to remain valid and enforceable.</p>
            <span>13.6. </span><p>Waiver: Please report any violations of this Terms of Use agreement to <a href="mailto:info@hamromovie.com" class="inv-link">info@hamromovie.com</a>. Hamro Movie shall determine how to deal with violations of its Terms of Use agreement on a case-by-case basis. Hamro Movie’s response to any particular violation of this Terms of Use agreement may not be construed as a waiver of any of these provisions, nor may you rely upon Hamro Movie’s response to a particular violation of this policy in your actions. You should not assume that Hamro Movie is even aware of violations of this Terms of Use agreement that you may find.  A waiver of any term or condition of this Terms of Use agreement in any instance shall not be deemed or construed as a waiver of such term or condition for the future, or of any subsequent breach thereof.</p>

            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
    <!--tos end-->
{% endblock %}