{% extends "@Site/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content %}
    <div class="row content ">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 bg-gray">
                        {#<span class="playlist-title" > No Videos Found with </span> <i>{{ query_param }}</i>#}
                        <span class="bg-red" > The content you are looking for isn't currently available </span>
                        {#<form role="search" action="{{ urlFor('search')}}" method="get">#}
                            {#<div class="input-group input-group-sm">#}
                                {#<input type="text" class="form-control" name="q" placeholder="Search for other movies" style="background-color: #fff; border: 1px solid #ddd;">#}
                                {#<span class="input-group-btn">#}
                                    {#<button type="submit" class="btn btn-fab-black btn-flat" ><i class="glyphicon glyphicon-search"></i></button>#}
                                {#</span>#}
                            {#</div>#}
                        {#</form>#}
                </div>


                <div class="col-xs-12">

                    <span class="playlist-title" > Recommended Movies </span>

                    <div class="row">
                        {% for row in recommendations %}
                            {% if(row.movieType =='free') %}

                                <div class="col-xs-12 col-sm-4 col-md-15">

                                    <div data-placement="left" class="productbox" data-trigger="hover" data-container="body"
                                         rel="popover" data-html="true" data-placement="left"
                                         data-title='<h3 class="popover-title">{{ row.title }}</h3>' data-content='
                             <div class="popover-content" >
                                 {{ ucWord(row.movieTag|replace({',':' | '})) }}
                             <p>{{ trim_text(row.details,60) }}</p>
                             <b>Cast:</b> {{ trim_text(row.cast,40) }}
                             <br>
                             <b>Director:</b> {{ row.director }}
                             <br>
                             <b>Subtitles:</b> {{ row.subtitle }}
                             <br>
                             </div>
                             </div>'>
                                        <div class="imgthumb img-responsive">
                                            <a href="{{ urlFor('video-detail') }}/{{ row.url }}/{{ row.mid}}">
                                                <img src="Asset/thumb/thumb.php?src={{ row.image }}&w=234&h=338">
                                                <span class="glyphicon glyphicon-play-circle"></span>
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <h5>{{ trim_text(row.title,30) }}</h5>
                                        </div>
                                        <div class="shape">
                                            <div class="shape-text">
                                                {% if(row.movieType=='subscription') %}
                                                    Subscribe
                                                {% else %}
                                                    {{ ucWord(row.movieType) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>





            </div>
            <!--/container -->
        </div>
    </div>
{% endblock %}