{% extends "@Site/_layout.twig" %}{#MASTER_TEMPLETE#}

{% block meta %}
<meta name="author" content="{{ row.meta_author }}">
<meta name="keywords" content="{{ row.meta_keywords }}">
<meta name="description" content="{{ row.meta_description }}">

{#<meta property="fb:app_id"  content="{{ fb_app_id }}" />#}
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ base_url ~ urlFor('video-detail') ~ '/' ~ row.url ~ '/' ~ row.mid }}"/>
<meta property="og:title"  content="{{ row.title }}"/>
{#<meta property="og:image" content="{{ base_url }}/Asset/thumb/thumb.php?src={{ row.image }}&w=300&h=300"/>#}
<meta property="og:image" content="{{ base_url ~ '/' ~ row.image }}"/>
<meta property="og:description" content="{{ row.details|striptags|replace({'"': "", "'": ""}) }}" />
{% endblock %}

{% block title %} {{ row.title }} {% endblock %}

{% block content %}


    <div class="row content ">
        <div class="col-sm-12">

            <div class="player video_container embed-responsive" {# style="background-image: url('{{ vimeo(row.trailerLink )}}')" #}>

                <div class="container bg-overlay">
                    <div class="row text-center">

                        <button type="button" class="btn btn-primary btn-lg video-view" data-vid="{{ row.trailerLink }}"><i
                                    class="fa fa-eye"></i> TRAILER
                        </button>
                        &nbsp;
                        {% if logged == true %}
                            {{ subscriptionCheck|raw}}
                        {% else %}
                            <button type="button" class="btn btn-danger btn-lg" onclick="location.href = '{{ urlFor('site-login') }}'"><i class="fa fa-lock"></i> Login to view full movie</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object dp img-responsive"
                         src="/Asset/thumb/thumb.php?src={{ row.image }}&w=100&h=150">
                </a>

                <div class="media-body">

                    <div class="videoDetailTitle clearfix">
                        <h5 class="media-heading pull-left">
                            {{ row.title }}
                        </h5>
                        <div class="videoShare pull-right">
                            <span class='st_facebook_hcount' displayText='Facebook'></span>
                            <span class='st_twitter_hcount' displayText='Tweet'></span>
                            <span class='st_googleplus_hcount' displayText='Google +'></span>
                        </div>
                        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                        <script type="text/javascript">stLight.options({publisher: "6183590b-4f6b-463d-a39a-8d36e74a251d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    </div>

                    <p>
                        {{ ucWord(row.movieType) }} | {{ ucWord(row.movieTag|replace({',':' | '})) }}</br>
                        <strong>Cast:</strong> {{ ucWord(row.cast) }}</br>
                        <strong>Director:</strong> {{ ucWord(row.director) }}
                    </p>

                    <div class="center-block">
                        <hr/>
                        <article class="slide" style="max-height: none;">
                            <p>{{ row.details|raw }}</p>
                        </article>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
                <div class="col-xs-12">
                        <span class="playlist-title">
                            You might also like
                        </span>
                    </br>
                    {% for row in related %}
                        <div class="col-md-15 col-sm-3">
                            <div data-placement="left" class="productbox" data-trigger="hover"
                                 data-container="body" rel="popover" data-html="true"
                                 data-placement="left"
                                 data-title='<h3 class="popover-title"><b>{{ row.title }}</b></h3>'
                                 data-content='
                             <div class="popover-content" >
                             {{ ucWord(row.movieTag|replace({',':' | '})) }}
                             <p>{{ trim_text(row.details,60) }}</p>
                             <b>Cast:</b> {{ trim_text(row.cast,60) }}
                             <br>
                             <b>Director:</b> {{ row.director }}
                             <br>
                             <b>Subtitles:</b> {{ row.subtitle }}
                             <br>
                             </div>
                             </div>'>
                                <div class="imgthumb img-responsive">
                                    <a href="{{ urlFor('video-detail') }}/{{ row.url }}/{{ row.mid }}">
                                        <img src="/Asset/thumb/thumb.php?src={{ row.image }}&w=234&h=338">

                                    <span class="glyphicon glyphicon-play-circle"></span>
                                    </a>
                                </div>
                                <div class="caption">
                                    <h5>{{ trim_text(row.title,15) }}</h5>
                                </div>
                                {% if(row.movieType=='subscription') %}
                                    <div class="shape">
                                        <div class="shape-text">
                                            Subscribe
                                        </div>
                                    </div>
                                {% else %}
                                <div class="shape">
                                        <div class="shape-text">
                                           {{ ucWord(row.movieType) }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
    </div>
{% endblock %}

{% block exttraJs %}
    <script>
        $('.video-view').click(function(e) {
        var vid_num = $(this).data('vid');
	    e.preventDefault();
	  $('.video_container').html('<iframe src="//player.vimeo.com/video/'+vid_num+'?autoplay=true" width="900" height="500" frameborder="0" allowfullscreen="" class="embed-responsive-item" ></iframe>');
	});
    </script>

	<script>
		$('article').readmore({
			speed: 100,
			collapsedHeight: 60,
			heightMargin: 16,
			moreLink: '<a href="#" class="link">..read more</a>',
			lessLink: '<a href="#" class="link">close</a>',
			embedCSS: true,
			blockCSS: 'display: block; width: 100%;',
			startOpen: false,

			// callbacks
			beforeToggle: function(){},
			afterToggle: function(){}
		});
	</script>
{% endblock %}