<footer>
    <div class="footer content2" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3><span> Latest</span> Movies </h3>
                    <ul>
                        {% for row in footerLatest %}
                        <li><a href="{{ urlFor('video-detail') }}/{{ row.url }}/{{ row.id }}"> {{ row.title }} </a></li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3><span> Most</span> Viewed </h3>
                    <ul>
                        {% for row in footerTopViewed %}
                            <li><a href="{{ urlFor('video-detail') }}/{{ row.url }}/{{ row.id }}"> {{ row.title }} </a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> <span>About</span> Us</h3>
                    <ul>
                        <li><a href="{{ urlFor('about-us') }}"> About Us </a></li>
                        <li><a href="{{ urlFor('contact-us') }}"> Contact Us </a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> <span>For</span> Support</h3>
                    <ul>
                        <li><a href="{{ urlFor('terms-and-condition') }}"> Terms of Use </a></li>
                        <li><a href="{{ urlFor('privacy-policy') }}"> Privacy Policy </a></li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> <span>Find us </span> on</h3>
                    <ul class="social" style="display:inline-flex;">
                        <li><a href="https://www.facebook.com/pages/Hamro-Movie/1459625934345802" target="_blank"> <i class="fa fa-facebook">   </i> </a></li>
                        <li><a href="https://twitter.com/HamroMovie" target="_blank"> <i class="fa fa-twitter">   </i> </a></li>
                        <li><a href="https://plus.google.com/u/0/100195044312599268489/posts?cfem=1" target="_blank"> <i class="fa fa-google-plus">   </i> </a></li>
                        {#<li><a href="#"> <i class="fa fa-pinterest">   </i> </a></li>#}
                        {#<li><a href="#"> <i class="fa fa-youtube">   </i> </a></li>#}
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom content2">
        <div class="container">
            <p class="pull-left"> Copyright © Ramro Movie 2014 - 2015. All right reserved. </p>

            <div class="pull-right ">
		 <!--/ <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> -->
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>