{% if (page =='home' and showPopup ) %}
    <!-- onload popup-->
    <div id="boxes">
        <div id="dialog" class="window">
            <span class="glyphicon glyphicon-remove-circle crossBtn"></span>
            <img src="{{ Asset('/Asset/Site/img/ramro_banner.jpg')}}" alt="popupimg" class="img-responsive"/>
        </div>
        <div id="mask"></div>
    </div>
{% endif %}


<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container-fluid top-menu">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% if (page !='home' ) %}{{ urlFor('home') }} {% else %}# {% endif %}"><img src="{{ Asset('/Asset/Site/img/logo.jpg')}}" alt="logo" class="img-responsive"  style="height:40px"/></a>
            {#<a class="navbar-brand" href="{% if (page !='home' ) %}{{ urlFor('home') }} {% else %}# {% endif %}">Ramro Movie</a>#}
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% if (page !='home' ) %}{{ urlFor('home') }} {% else %}# {% endif %}"><i class="fa fa-home fa-1x" style="color:primary;"></i><span class="sr-only">(current)</span></a></li>
                {#http://ramro-movie.bidhee.net/playlist-all/3#}
                <li><a href="{{ urlFor('playlist-all') }}/3">Free Movies</a></li>
                <li><a href="{{ urlFor('most-viewed') }}">Most Viewed</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for row in categories %}
                        <li><a href="{{ urlFor('category-site') }}/{{ row.title}}">{{ ucWord(row.title) }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" action="{{ urlFor('search')}}" method="get">
                <div class="form-group">
                    <input class="form-control" placeholder="Search" type="text" name="q" value="{{ search_query }}">
                </div>
                <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"> </span>
                </button>
            </form>


            <ul class="nav navbar-nav navbar-right">
                {% if(userData !='') %}
                    <li class="userWelcome dropdown">
                        {#{% if(userData.fullname  !='') %}#}
                            {#{{ userData.fullname }}#}
                        {#{% else %}#}
                            {{ userData.fname|upper }}
                        {#&nbsp; {{ userData.lname }}#}
                        {#{% endif %}#}
                        &nbsp;&nbsp;

                        <i class="dropdown-toggle" id="menu1" data-toggle="dropdown"><span class="caret"></span></i>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="display: none;">
                            {#<li >#}
                            {#<a role="menuitem" tabindex="-1" href="#">#}
                            {#{% set profilePicture = 'default.png' %}#}
                            {#{% if userData.socialMedia == 'google' %}#}
                            {#{% if userData.profilePic %}#}
                            {#{% set profilePicture = userData.profilePic %}#}
                            {#{% endif %}#}
                            {#{% else %}#}
                            {#{% set profilePicture = "https://graph.facebook.com/{{ userData.socialId }}/picture?type=square" %}#}
                            {#{% endif %}#}

                            {#<img style="border-radius:30px;" src="{{ profilePicture }}"/>#}

                            {#</a>#}
                            {#</li>#}
                            <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-suitcase"></i>&nbsp;Subscription</a></li> -->
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ urlFor('user-profile') }}"><i class="fa fa-user"></i>&nbsp;Profile</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ urlFor('site-logout') }}"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ urlFor('site-login') }}">Login</a></li>
                    <li>
                        <button onclick="location.href='{{ urlFor('site-signup') }}'" type="button" class="btn btn-warning navbar-btn"> Sign Up </button>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>