*{margin:0em; padding:0em}
body, .jumbotron{background: #f1f1f1; color: #666666}
.top-header-banner{
    /*margin-top:67px;*/
}
.top-menu{
    margin:0 auto;
    padding: 0 5% 0 5%;
    max-width: 1800px;

}
.navbar-brand{padding: 11px 15px}
a.navbar-brand img{margin-right: 70px;}
.navbar {
    background: rgba(255,255,255,0.93);
    border-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.navbar-nav>li>a{padding-bottom: 23px;}
.btn{box-shadow:none;}
.navbar-default .navbar-form{border: 1px solid #e4e4e4;border-radius:5px; -webkit-border-radius:2px; -moz-border-radius:2px; }
input.form-control, input[type=text], [type=text].form-control, input[type=password],[type=password].form-control{box-shadow:none; -webkit-box-shadow:none; font-size:13px; font-weight:500}
input.form-control:focus, input[type=text]:focus, [type=text].form-control:focus, input.form-control:focus, input[type=password]:focus, [type=password].form-control:focus{border:none; box-shadow:none}
.navbar-form button.btn{padding:0em; background:transparent; border:none; box-shadow:none}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .dropdown-menu{background-color: #E85438; color: #ffffff}
.dropdown-menu{padding: 0em}
.btn-warning, button.profileBtn{background: #E85438}
.dropdown-menu li a{padding-top: 0.5em; padding-bottom:  0.5em; color: #ffffff}
.dropdown-menu li a:hover{transition: all 1s ease-in-out}
.navbar-default .navbar-nav>.active:hover>a, .btn-warning:hover{background-color: #0C7EBC; color: #ffffff; transition: 1s ease all}
::-webkit-input-placeholder {color:    #777;}
:-moz-placeholder {color:    #777;opacity:  1;}
::-moz-placeholder {color:    #777;opacity:  1;}
:-ms-input-placeholder {color:    #777;}
.carousel-control.left, .carousel-control.right{background:none; z-index: 100}
/*.navbar:hover {
  background-color: rgba(255,255,255,1);
   background: rgba(255,255,255,1);
   border-color: transparent;
}*/
.navbar-default .navbar-nav>li>a{font-weight:500; font-size:14px;}
.navbar li { color: #666; font-weight:500; font-size:14px;}
li.userWelcome{padding-top:1.5em}
/*.sliderOverlay{background: rgba(0,0,0,0.4); width: 100%; height: 100%;position: absolute; z-index: 1}*/
.coursel-title{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom:0em;
    color: #fff;
    text-shadow: 1px 0px 2px rgba(0,0,0,0.4);
    text-align: left;
    font-size:30px;
    margin-left: 7%;
}
.coursel-title div{margin-left:7%!important;}
.coursel-title a{
    color: #fff;
    text-decoration: none;

}
.fill{z-index: -1}
.carousel-para{font-size:18px;color:white;text-align:left;margin-left:7%;}
.coursel-category{
    font-family: inherit;
    line-height: 1;
    color: #fff;
    float: left;
    margin-left: 7%;
    font-size: small;
    padding-bottom: 1.5em
}

.coursel-desc{
    font-family: inherit;
    font-weight: 300;
    line-height: 1;
    color: #777;
    float: left;
    margin-left: 1.5%;

    font-size: 15px;
}
.carousel-indicators li{border:1px solid #8B8B8B;background: #888}
.carousel-indicators li.active{background: #222; border:1px solid #222}
.carousel-indicators {
    bottom: -40px;
    left: 50%;
}
.carousel-control .icon-next:before, .carousel-control .icon-prev:before{content: " "}
.carousel-caption {
    left: 0%;
    right: 20%;
    padding-bottom: 0px;
    margin-top: -10px;
    text-shadow:none;
    bottom:0%;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}
.carousel-caption h3.coursel-title{z-index: 100}
.content{
    margin: 20px auto;
    padding: 0 5% 0 5%;
    max-width: 1800px;
}
.content2{
    margin: auto;
    padding: 0 5% 0 5%;
    max-width: 1800px;
}

.playlist-title{
    font-family: inherit;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-align: left;
    color: #E85438;
    /*margin-left: -0.5%;*/
    text-transform:uppercase;
}
.view-all{
    font-family: inherit;
    font-weight: 400;
    font-size: small;
    float: right;
}
.view-all a{
    color:#0C7EBC;
    text-decoration: none;


}
.view-all a:hover{
    color:#F9A825;
    font-size:14px;
}



/* CSS used here will be applied after bootstrap.css */

.productbox {
    position: relative;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
}


.caption {
    padding:10px;
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    max-height: 40%;
    overflow: hidden;
    font-size: 8px;
    color: #FFF;

}
.media-heading h6{
    font-weight: 200;
}
.caption h5 {
    margin-top: 0px;
    color: #666;
    max-height: 60px;
    overflow: hidden;
    font-weight: 500;
    font-size:15px
}
.img-responsive img{
    width: 100%;
}

.container {
    width: 100%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 15px;
}
.btn-block {
    position: relative;
    margin-top: 5px;
}

.shape{
    border-style: solid; border-width: 0 60px 60px 0;
    position: absolute; float:left; height: 0px; width: 0px;
    top: 0px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
.shape-text{
    color:#fff; font-size:11px; font-weight:bold; position:absolute; right:-57px; top:12PX; white-space: nowrap;
    -ms-transform:rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(46deg); /* Safari and Chrome */
    transform:rotate(46deg);
}
.offer{
    background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}
.shape {
    border-color: rgba(255,255,255,0) #ff6e40 rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-radius{
    border-radius:7px;
}
.offer-danger {	border-color: #d9534f; }
.offer-danger .shape{
    border-color: transparent #d9534f transparent transparent;
}
.offer-success {	border-color: #5cb85c; }
.offer-success .shape{
    border-color: transparent #5cb85c transparent transparent;
}
.offer-default {	border-color: #999999; }
.offer-default .shape{
    border-color: transparent #999999 transparent transparent;
}
.offer-primary {	border-color: #428bca; }
.offer-primary .shape{
    border-color: transparent #428bca transparent transparent;
}
.offer-info {	border-color: #5bc0de; }
.offer-info .shape{
    border-color: transparent #5bc0de transparent transparent;
}
.offer-warning {	border-color: #f0ad4e; }
.offer-warning .shape{
    border-color: transparent #f0ad4e transparent transparent;
}

@media (min-width: 384px) and (max-width: 768px) {
    /*.img-responsive img{
        max-width: 50%;
    }*/
    .img-responsive{
        text-align: center;
    }
}

.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #131415;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #1B1B1B;
    border-top: 1px solid #DDDDDD;
    margin: auto;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #403E3E;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    padding: 0 auto;
    text-transform: uppercase;
}
.footer h3 span {
    border-bottom: 1px solid #E85438;
    padding-bottom: 0.6em;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}


.footer ul li a {
    /*padding: 0 0 5px 0;*/
    display: block;
    color:#BBB;
    font-size:13px;
}
/* .footer a {
    color: #78828D
} */
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}
.social {
    margin: 0;
    padding: 0;

}

.social ul {
    margin: 5px;
    padding: 0px;
    float: left;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;

    text-align:center;
    padding-top: 10px;
    border-radius: 50%;
    padding-left: 7px;
    margin: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-google-plus:hover {
    background: #e64522;
}

.social .fa-pinterest:hover {
    background: #cb2027;
}

.social .fa-youtube:hover {
    background: #FF1F25;
}



.footer-bottom {
    background: #040404;
        /*padding-top: 10px;
    padding-bottom: 10px;*/
}
.footer-bottom p.pull-left {
    padding-top: 15px;
    font-size:10px;
    color: #828080;
}
.payments {
    font-size: 1.5em;
}

.pagination>li>a, .pagination>li>span{
    background: #DADADA;
    border-color: #D2D2D2;
    padding: 0px 10px;
}
.pagination{width: 25%; margin: 0 auto;display: block}
.pagination>li>a.current{background-color: #E85438; color: #ffffff; border-color: #E85438}
.play-btn {
    display: none;
}

a:hover + play-btn {
    display: block;
}


.glyphicon-play-circle{
    font-size: 60px;
    opacity: 0.9;
    position: absolute;
    right: 39%;
    top: 35%;
    display: none;
    filter: alpha(opacity=0);
    text-shadow: 0 1px 3px rgba(0,0,0,.9);
    transition: 1s ease all;
}
.imgthumb:hover .glyphicon-play-circle{
    font-size: 60px;
    opacity: 0.9;
    color: #ffffff;
    position: absolute;
    right: 39%;
    top: 35%;
    opacity: 0.9;
    display: block;
    filter: alpha(opacity=100);
    text-shadow: 0 1px 3px rgba(0,0,0,.0);
}




/* SUBSCRIPTION STARTS HERE STYLE 1*/
.subscribe {
    padding-top: 50px;
    /*margin: 0 10% 0 10%;*/
    margin: 0 auto;
    float: none;
}


/* COMMON PRICING STYLES */
.panel.price,
.panel.price>.panel-heading{
    border-radius:0px;
    -moz-transition: all .3s ease;
    -o-transition:  all .3s ease;
    -webkit-transition:  all .3s ease;
}
.panel.price:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}
.panel.price:hover>.panel-heading{
    box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
}


.panel.price>.panel-heading{
    box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
    text-shadow:0px 3px 0px rgba(50,50,50, .6);
}

.price .list-group-item{
    border-bottom-:1px solid rgba(250,250,250, .5);
}

.panel.price .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.panel.price .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.price .panel-footer {
    color: #fff;
    border-bottom:0px;
    background-color:  rgba(0,0,0, .1);
    box-shadow: 0px 3px 0px rgba(0,0,0, .3);
}


.panel.price .btn{
    box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
    border:0px;
}

/* green panel */


.price.panel-green>.panel-heading {
    color: #fff;
    background-color: #57AC57;
    border-color: #71DF71;
    border-bottom: 1px solid #71DF71;
}


.price.panel-green>.panel-body {
    color: #fff;
    background-color: #65C965;
}


.price.panel-green>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-green .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:500;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* blue panel */


.price.panel-blue>.panel-heading {
    color: #fff;
    background-color: #608BB4;
    border-color: #78AEE1;
    border-bottom: 1px solid #78AEE1;
}


.price.panel-blue>.panel-body {
    color: #fff;
    background-color: #73A3D4;
}


.price.panel-blue>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-blue .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:500;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* red price */


.price.panel-red>.panel-heading {
    color: #fff;
    background-color: #D04E50;
    border-color: #FF6062;
    border-bottom: 1px solid #FF6062;
}


.price.panel-red>.panel-body {
    color: #fff;
    background-color: #EF5A5C;
}




.price.panel-red>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-red .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight: 500;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* grey price */


.price.panel-grey>.panel-heading {
    color: #fff;
    background-color: #6D6D6D;
    border-color: #B7B7B7;
    border-bottom: 1px solid #B7B7B7;
}


.price.panel-grey>.panel-body {
    color: #fff;
    background-color: #808080;
}



.price.panel-grey>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-grey .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:500;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* white price */


.price.panel-white>.panel-heading {
    color: #333;
    background-color: #f9f9f9;
    border-color: #ccc;
    border-bottom: 1px solid #ccc;
    text-shadow: 0px 2px 0px rgba(250,250,250, .7);
}

.panel.panel-white.price:hover>.panel-heading{
    box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
}
.panel-heading h3{
    color: #fff;
}

.price.panel-white>.panel-body {
    color: #fff;
    background-color: #dfdfdf;
}

.price.panel-white>.panel-body .lead{
    text-shadow: 0px 2px 0px rgba(250,250,250, .8);
    color:#666;
}

.price:hover.panel-white>.panel-body .lead{
    text-shadow: 0px 2px 0px rgba(250,250,250, .9);
    color:#333;
}

.price.panel-white .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:500;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* SUBSCRIPTION ENDS HERE STYLE 1*/


.title-context a{
    color:white;
    text-decoration: none;


}
.title-context a:hover{
    color:whitesmoke;
    text-decoration: underline;
}



/* carousel */
#media{
    padding:0px;
    margin:0px;
    height: auto;
}
.media-carousel
{
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
    left: -50px;
    background-image: none;
    /* background: none repeat scroll 0 0 #222222; */
    /* border: 4px solid #FFFFFF; */
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 25px;
    margin-top: 100px}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: -50px !important;
    background-image: none;
    /* background: none repeat scroll 0 0 #222222; */
    /* border: 4px solid #FFFFFF; */
    /* border-radius: 23px 23px 23px 23px; */
    height: 40px;
    width : 25px;
    margin-top: 100px}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: 100px;
    bottom: 0px;
    margin-right: 20px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
.media-carousel img
{
    width: 100%;
    height: 100%;
}
/* End carousel */
.player {
    width: 100%    !important;
    height: 100px;
    min-height: 534px;
    Max-height: 534px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: black;
}


.bg-overlay {
    color: #000;
    width: 100%;
    height: 534px;
    padding-top: 238px;

}
.bg-overlay h3{
    margin: auto;
    color: #fff;
    text-shadow: 2px 2px #666666;
    max-width:700px;
    word-wrap:break-word;
}
.bg-overlay h5{color: #fff;}

.media img{
    height: 100px;
}

#social:hover {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
}
#social {
    -webkit-transform:scale(0.8);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
/*
    Only Needed in Multi-Coloured Variation
*/
.social-fb:hover {
    color: #3B5998;
}
.social-tw:hover {
    color: #4099FF;
}
.social-gp:hover {
    color: #d34836;
}
.social-em:hover {
    color: #f39c12;
}


button.close{
    font-size:2em;
    position: absolute;
    top: 5px;
    opacity: 1;
    color: #fff;
}

.modal-dialog{
    margin: 50px auto;
    width: 900px;
    max-width: 90%;
    min-width:300px;
}

.modal-body {
    position: relative;
    padding-bottom: 52%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.modal-body iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-header
{
    padding:20px 15px;
    border-bottom:0px solid #fff;
    background-color: #000;
}
.modal-header .close{margin-top:0px}


.errMsg{
    float:right;
    color:red;
}
.succMsg{
    float:right;
    color:green;
}

/*
5 column media content
*/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
/* Profile container */
.profile {
    margin: 70px 0;
}

/* Profile sidebar */
/*.profile-sidebar {*/
/*padding: 20px 0 10px 0;*/
/*background: #fff;*/
/*}*/

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    border:5px solid #fff
}

.profile-usertitle {
    text-align: center;
    margin-top: 0px;
    background: #4d9eca;
    color: #ffffff;
}

.profile-usertitle-name {
    color: #fff;
    font-size: 20px;
    padding: 0.5em 0em;
    /*font-weight: 600;*/
    /*margin-bottom: 7px;*/
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 9px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #2D2A2A;
    background-color: #FFCAC0;
    border-left: 5px solid #E85438;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

/* READ MORE */
.article {
    padding: 3px;
    margin: 2px;
}
.article .text {
    font-size: 12px;
    line-height: 17px;
    font-family: arial;
}

.article .text.short {
    height: 100px;
    overflow: hidden;
}
.article .text.full {

}
.read-more {
    cursor: pointer;
    display: inline-block;
    padding: 3px;
    color: grey;
    margin: 2px;
}



/*onload popup*/
#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}

#boxes .window {
    position: absolute;
    left: 0;
    top: 0;
    width: 440px;
    display: none;
    z-index: 9999;
    text-align: center;
}

#boxes #dialog {
    width: 750px;
    padding: 10px;
    background: #ffffff;
}


/********************movie hover content***************/

h3.popover-title{border-bottom: none; font-weight: 500}

/*/************Login panel**************/
.panel-primary>.panel-heading{background-color: #8B8B8B}
.panel-title{font-weight: 500}
a#btn-fblogin, button#btn-fbsignup{background: #45619D; text-align: center; width:40%;float:left;}
button#btn-fbsignup{width: auto;}
#loginform:before{content:"or"; position: absolute; width: 8%; height: auto; display: block; background: #ffffff; color: #777; top: -5%; left: 45%; text-align: center}
.panel{box-shadow: none; border: 1px solid #8B8B8B}
.login-group{border: 1px solid #DAD7D7}
#loginform{margin-top: 2em; border-top: 1px solid #DAD7D7; padding-top: 2em;position: relative}
#signupform{padding: 25px;}
.signup-group{padding-left: 15px; padding-right: 15px;}
a.btn-g+{background:#E85438}
.alternativeLogin{width: 90%; margin:0 auto; text-align:center}

/**************Subscription price plan****************/
.package {
    box-sizing: border-box;
    width: 100%;
    height: 380px;
    border: 3px solid #4D9ECA;
    border-radius: 7px;
    display: inline-block;
    padding: 24px;
    text-align: center;
    float: left;
    -webkit-transition: margin-top 0.5s linear;
    transition: margin-top 0.5s linear;
    position: relative;
    margin-right: 11px;
    background: #ffffff;
}
.package:hover {
    margin-top: -30px;
    -webkit-transition: margin-top 0.3s linear;
    transition: margin-top 0.3s linear;
}
.name {
    color: #565656;
    font-weight: 300;
    font-size: 3rem;
    margin-top: -5px;
}
.price {
    margin-top: 7px;
    font-weight: bold;
}

.package hr {
    background-color: #dedede;
    border: none;
    height: 1px;
}
.trial {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2px 21px 2px 21px;
    color: #008ADF;
    border: 1px solid #e4e4e4;
    display: inline-block;
    border-radius: 15px;
    background-color: white;
    position: relative;
    bottom: -40px;
}
.package ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 29px;
}
.package li {
    margin-bottom: 15px;
    font-size: 14px;
}
.checkIcon {
    font-family: "FontAwesome";
    content: "\f00c";
}
.package li::before {
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 1.3rem;
    color: #008ADF;
    margin-right: 3px;
}
.brilliant {
    border-color: #E85438;
}
/* Triangle */
.brilliant::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 64px 64px 0 0;
    border-color: #E85438 transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
}
.brilliant::after {
    font-family: "FontAwesome";
    content: "\f00c";
    color: white;
    position: absolute;
    left: 9px;
    top: 6px;
    text-shadow: 0 0 2px #37c5b6;
    font-size: 1.4rem;
}
a.plan-btn{border-radius: 2px; padding: 0.4em 0.8em; text-decoration: none}

/************************User Dashboard************************/
.profile-userpic{background: url("../img/profilebg.jpg") no-repeat; padding: 1.5em 0em}
.profile-sidebar{background: #ffffff; border:1px solid #e4e4e4}
.disabledForm{margin-bottom: 15px;}
.profileBtn{border:1px solid #E85438; border-radius: 3px; padding: 0.1em 0.8em; color: #ffffff; font-size: 14px;}
#alreadyConnectedToFB{font-size: 14px;}
#alreadyConnectedToFB ul{padding: 0em}
#alreadyConnectedToFB li{margin-left: 1em}
#purchases{font-size: 14px;}
.pagination>li>a{color: #7B6460; font-size: 15px;}
#icons {
    display: block;
}
.promomail_container label{font-size: 13px;}
#icons a {
    display: inline-block;
    /*margin: 5px 5px 0 5px;*/
    width: 35px;
    height: 35px;
    text-align: center;
    background: #ff0000;
    line-height: 35px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
}
#icons a:nth-child(1) {
    background: #3c689f;
    background: -webkit-linear-gradient(#3c689f, #5181bd);
    background-size: 1px 200px;
    box-shadow: inset 0 -2px 0 #2e507a;
}
#icons a:nth-child(2) {
    background: #3b89b1;
    background: -webkit-linear-gradient(#3b89b1, #58a1c7);
    background-size: 1px 200px;
    box-shadow: inset 0 -2px 0 #2e6b8b;
}
#icons a:nth-child(3) {
    background: #d16847;
    background: -webkit-linear-gradient(#d16847, #db8970);
    background-size: 1px 200px;
    box-shadow: inset 0 -2px 0 #b74f2e;
}
#icons a:nth-child(4) {
    background: #C53535;
    background: -webkit-linear-gradient(#C53535, #CD1B1B);
    background-size: 1px 200px;
    box-shadow: inset 0 -2px 0 #812525;
}
#icons a:nth-child(5) {
    background: #5ea240;
    background: -webkit-linear-gradient(#5ea240, #77bd58);
    background-size: 1px 200px;
    box-shadow: inset 0 -2px 0 #497d32;
}

.freeMovieCarousel{padding:0em; margin-top: 0px; height: auto}

/*Share this*/
.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices, .stButton .stButton_gradient{height:22px!important;}
hr{border-top: 1px solid #CDCDCD;}
<!--#myCarousel.carousel{margin-top: 0;height: 400px}
#myCarousel .fill{background-size: 100%;background-repeat:no-repeat;background-position: left top;}-->
/*******************Media Query*********************/
@media (min-width: 320px) and (max-width: 479px) {
.jumbotron{padding:  30px 0}
#boxes #dialog{width: 94%;left: 50% !important;margin-left: -47%}
#boxes #dialog img{width: 100%}
#myCarousel.carousel{margin-top: 21px;height: 148px;min-width: 100%}
#myCarousel .fill{background-size: 100%;background-repeat:no-repeat;background-position: left top;}
#myCarousel .carousel-caption{background: #000;width: 100%}
#myCarousel .icon-prev,#myCarousel .icon-next{width: 20%}
.coursel-title{font-size: 90%;margin-top: 5px;margin-bottom: 5px}
.carousel-para{display: none}
.coursel-category{display: none}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{max-height:none}
.navbar-form.navbar-left .form-group{width: 90%;float: left}
#media .col-xs-6{padding: 0}
#media .row{margin: 0}
.media-carousel{max-height: none}
#media .carousel-control{display: none}
.social i{width: 30px;height: 30px;font-size: 110%}
.carousel-indicators li{width: 8px;height: 8px}
.carousel-indicators .active{width: 10px;height: 10px}
.playlist-title{font-size: 85%}
.sagar .col-xs-6{width: 100%}
#footer .col-xs-4{width: 50%;}
.content{padding: 0}
#media.carousel{min-width: 0}
.movie-detail .col-xs-4{width: 100%}
.player{min-height: 300px}
.bg-overlay{padding-top: 160px}
.xs-row{margin: 0}
.btn-text{font-size: 55%}
a#btn-fblogin,.alternativeLogin,.btn-text{width: 100%}
.login-text{font-size: 50% !important}
}
@media (min-width: 480px) and (max-width: 599px) {
.jumbotron{padding:  30px 0}
#boxes #dialog{width: 94%;left: 50% !important;margin-left: -47%}
#boxes #dialog img{width: 100%}
#myCarousel.carousel{margin-top: 21px;height: 258px}
#myCarousel .fill{background-size: 100%;background-repeat:no-repeat;background-position: left top;}
#myCarousel .carousel-caption{background: #000;width: 100%}
#myCarousel .icon-prev,#myCarousel .icon-next{width: 20%}
.coursel-title{font-size: 120%;margin-top:10px}
.carousel-para{font-size: 75%}
.coursel-category{font-size: 60%;padding-bottom: 1em}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{max-height:none}
.navbar-form.navbar-left .form-group{width: 90%;float: left}
#media .col-xs-6{padding: 0}
#media .row{margin: 0}
.media-carousel{max-height: none}
.media-carousel .carousel-control.right{right: -37px !important}
.media-carousel .carousel-control.left{left: -36px}
#media .carousel-control{top: 28% !important;width: 4%}
.social i{width: 30px;height: 30px;font-size: 110%}
.movie-detail .col-xs-4{width: 50%}
.player{min-height: 330px}
.btn-text{font-size: 55%}
a#btn-fblogin{width: 45%}
.control input[type='submit']{font-size: 50%}
}
@media (min-width: 600px) and (max-width: 769px) {
.jumbotron{padding:  30px 0}
#boxes #dialog{width: 94%;left: 50% !important;margin-left: -47%}
#boxes #dialog img{width: 100%}
#myCarousel.carousel{margin-top: 21px;height: 326px}
#myCarousel .fill{background-size: 100%;background-repeat:no-repeat;background-position: left top;}
#myCarousel .carousel-caption{background: #000;width: 100%}
#myCarousel .icon-prev,#myCarousel .icon-next{width: 20%}
.coursel-title{font-size: 130%}
.carousel-para{font-size: 85%}
.coursel-category{font-size: 70%}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{max-height:none}
.navbar-form.navbar-left .form-group{width: 90%;float: left}
#media .col-xs-6{padding: 0}
#media .row{margin: 0}
.media-carousel{max-height: none}
.media-carousel .carousel-control.right{right: -44px !important}
.media-carousel .carousel-control.left{left: -40px}
#media .carousel-control{top: 32% !important}
.social i{width: 35px;height: 35px;font-size: 116%}
.player{min-height: 360px}
.btn-text{font-size: 55%}
}
@media (min-width: 768px) and (max-width: 991px) {
#myCarousel.carousel{margin-top: 0;height: 400px}
#myCarousel .fill{background-size: 100%;background-repeat:no-repeat;background-position: left top;}
#myCarousel .carousel-caption{background: #000;width: 100%}
#boxes #dialog{width: 94%;left: 50% !important;margin-left: -47%}
#boxes #dialog img{width: 100%}
.navbar-default .navbar-nav>li>a {font-size: 80%}
.navbar-default .navbar-form{display: none}
.navbar-right .btn{font-size: 80%}
#myCarousel .icon-prev,#myCarousel .icon-next{width: 55%}
#media .col-sm-3{padding: 0}
#media .row{margin: 0}
#media .carousel-control{top: 7% !important}
.social i{width: 35px;height: 35px;font-size: 116%}
.parents div.col-sm-3:nth-child(4n+1){clear: both}
.parent div.col-sm-3:nth-child(6n+1){clear: both}
.btn-text{font-size: 55%}
}
@media (min-width: 992px) and (max-width: 1199px) {
#media .carousel-control{top: 7% !important}
.social i{width: 35px;height: 35px;font-size: 116%}
/*a#btn-fblogin,a#btn-g+{font-size: 55%}*/
.btn-text{font-size: 55%}
}



/********* STATIC PAGES ********/
.pd-top40{padding-top: 40px;}
.std-width{width: 948px; margin: 0 auto}
.largexl{font-size: 24px;}
div.append-bottom, .append-bottom {margin-bottom: 30px;}
.tos span, .pp span{float: left;width: 30px;min-height: 1px; font-size: 0.7em}
.tos p{margin-left: 30px; font-size: 0.7em}
.tos h3, .pp h3, .pp h4{font-size: 0.8em; display: block;color: #333333}
.tos ol, .pp ol{margin-left: 50px; list-style: lower-roman;}
.tos ol li, .pp ol li{font-size: 0.7em}
.pp .margin-left { margin-left: 80px; }
.bold{font-weight: bold; font-size: 12px;}
.margin-left div{font-size: 12px;}

.row-fluid:before, .row-fluid:after {  content: " ";  display: table;}
.row-fluid:after { clear: both;}

.row-fluid.for-car [class*="span"]{
    margin-left: 0.1564102564102564%;
    *margin-left: 0.15109110747408616%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row-fluid [class*="span"]:first-child, .row-fluid.for-car [class*="span"]:first-child  {
    margin-left: 0;
}

.row-fluid.for-car > .carousel-wrapper > .carousel-items > .span_by5 { width: 1.793789743589745%; *width: 1.748908892525914%;}
.row-fluid.for-car > .carousel-wrapper > .carousel-items > .span12 { width: 10%; *width: 9.94680851063829%;}
.row-fluid.for-car > .carousel-wrapper > .carousel-items > .span11 { width: 9.145299145299145%; *width: 9.139979996362975%;}
.row-fluid.for-car > .carousel-wrapper > .carousel-items > .span10 { width: 8.290598290598291%; *width: 8.28527914166212%;}
.row-fluid.for-car > .carousel-wrapper > .carousel-items > .span9 { width: 7.435897435897436%; *width: 7.430578286961266%;}
.row-fluid.for-car > .carousel-wrapper > .carousel-items > .span8 { width: 6.581196581196582%; *width: 6.575877432260411%;}
.row-fluid.for-car > .carousel-wrapper > .carousel-items > .span7 { width: 5.726495726495726%; *width: 5.721176577559556%;}
.row-fluid.for-car > .carousel-wrapper > .carousel-items > .span6 { width: 4.8717948717948715%; *width: 4.8664757228587014%;}
.row-fluid.for-car > .carousel-wrapper > .carousel-items > .span5 { width: 4.017094017094017%; *width: 4.011774868157847%;}
.row-fluid.for-car > .carousel-wrapper > .carousel-items > .span4 { width: 3.1623931623931625%; *width: 3.1570740134569924%;}
.row-fluid.for-car > .carousel-wrapper > .carousel-items > .span3 { width: 1.9%; *width: 1.9%;}
.row-fluid.for-car > .carousel-wrapper > .carousel-items > .span2 { width: 1.452991452991453%; *width: 1.4476723040552828%;}
.row-fluid.for-car > .carousel-wrapper > .carousel-items > .span1 { width: 0.5982905982905983%; *width: 0.5929714493544281%;}

/*------Carouseller--------*/
.for-car { position: relative;}
.for-car .carousel-items { position: relative; width: 997.4358974358974%;}
.for-car .carousel-items > .carousel-block { transition: margin-left 0.05s ease-out;}
.for-car .carousel-block { display: inline-block; position: relative; }
.for-car .carousel-wrapper { overflow: hidden; position: relative;}
.for-car .carousel-control-block { text-align: right;}
.for-car .carousel-control-block > .carousel-button-left, .for-car .carousel-control-block > .carousel-button-right { display: inline-block; margin: 0px 1px 10px 0px;}
/*.for-car .carousel-control-block > .carousel-button-left > a, .for-car .carousel-control-block > .carousel-button-right > a {
    background:#E85438;padding: 1em;
}*/

.carousel-button-left, .carousel-button-right{
    position: absolute !important;
    top: 36%;
    z-index: 999;
    background-color: #FFF;
    padding: 5px;
}

.carousel-button-left{
    left: 1rem;
}

.carousel-button-right{
    right: 1rem;
}

.for-car .carousel-control-block > .carousel-button-left > a:hover, .for-car .carousel-control-block > .carousel-button-right > a:hover { opacity: 0.8;}
.carousel-block { text-align: center; font-size: 30px; font-weight: bold;}


h1 {font-size: 40px; margin-bottom: 30px;}


/*------Responsive-----------*/
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span_by5,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span12,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span11,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span10,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span9,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span8,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span7,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span6,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span5,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span4,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span3,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span2,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span1 { width: 3.1623931623931625%; *width: 3.1570740134569924%;}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span_by5,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span12,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span11,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span10,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span9,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span8,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span7,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span6,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span5,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span4,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span3,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span2,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span1 { width: 4.8717948717948715%; *width: 4.8664757228587014%;}
}
/* Landscape phones and down */
@media (max-width: 480px) {
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span_by5,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span12,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span11,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span10,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span9,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span8,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span7,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span6,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span5,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span4,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span3,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span2,
    .row-fluid.for-car > .carousel-wrapper > .carousel-items > .span1 { width: 10%; *width: 9.94680851063829%;}
}

span.crossBtn{
    position: absolute;
    right: -1.75rem;
    top: -1.5rem;
    color: #fff;
    background-color: #900;
    border-radius: 50%;
    cursor: pointer;
}

.contactForm{background: #fff; border-radius: 2px; padding: 1em; border: 1px solid #e4e4e4; margin-bottom: 50px;}
.contactForm input[type="text"]{border-bottom: 1px solid #ddd!important}
.contactForm input[type="email"]{font-size: 13px;}
.contactForm input[type="text"]:focus{border-bottom: 2px solid #2196F3!important}
.contactForm h3{text-align: center; font-size: 25px;}
.contactEmail{color: #E85438}
address{line-height: 1.1em}
