@font-face {
    font-family: robotoRegular;
    src: url("{{ Asset('//Asset/Lib/fonts/roboto/RobotoCondensed-Light.ttf')}}");
}

body {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.title {
    color: white;
    width: 100%;
    font-family: robotoRegular;
    height: 80px;
    background: #689F38;
    text-align: center;
    font-size: 40px;
    padding-top: 18px;
    box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
    z-index: -1;
}

.bottom-view {
    width: 100%;
    height: 82%;
    font-family: robotoRegular;
    background: #DCEDC8;
    padding-top: 20px;
    text-align: center;
}

.bottom-view .error-details {

    color: #777777;
    font-size: 30px;
    text-align: center;
}

.bottom-view .link {
    font-size: 20px;
    text-decoration: none;
    color: #689F38;
}

.bottom-view .link:hover {
    font-size: 22px;
    color: #689F38;
    text-shadow: 1px 1px 1px grey;
}

.invert {
    -webkit-filter: invert(100%);
}