{% extends "@Site/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content %}
    <!-- Half Page Image Background Carousel Header -->
    <div class="top-header-banner">
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for key,row in bannerData %}
                <li data-target="#myCarousel" data-slide-to="{{ key }}"
                    class="{% if key +1==1 %} active {% endif %}"></li>
            {% endfor %}
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="sliderOverlay"></div>
            {% for key,row in bannerData %}
                <div class="item {% if key +1==1 %} active {% endif %}" >
                    <!-- Set the first background image using inline CSS below. -->
                    <div class="fill"
                         style="background-image:url('{{ row.image }}')"></div>
                    <div class="carousel-caption">
                        <h2 class="coursel-title"><a href="{{ row.link }}" class="link">{{ trim_text(row.title,100) }}</a></h2>
                        <div class="carousel-para">{{ trim_text(row.details,100) }}</div>
                        <div style="clear:both;"></div>
                        <span class="coursel-category">{{ ucWord(row.movie_type|replace({',':' | '})) }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev">
            <img src="{{ Asset('/Asset/Site/img/destinationPrev.png')}}" alt="img" class="img-responsive"/>
        </span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next">
            <img src="{{ Asset('/Asset/Site/img/destinationNext.png')}}" alt="img" class="img-responsive"/>
        </span>
        </a>

    </header>
    </div>
    <div class="content clearfix">
        <div class="col-xs-12">
                <span class="playlist-title" id="movies">Latest Movies</span>
                <span class="view-all"><a href="{{ urlFor('latest-all') }}">View All &raquo;</a></span>
                </br>

                        <div class="carouseller row-fluid for-car" id="latestMovieCarousel">
                        <div class="carousel-wrapper">
                        <div class="carousel-control-block">
                            <div class="carousel-button-left shadow"><a href="javascript:void(0)"><img src="{{ Asset('/Asset/Site/img/altPre.png')}}" alt=""></a></div>
                            <div class="carousel-button-right shadow"><a href="javascript:void(0)"><img src="{{ Asset('/Asset/Site/img/altNext.png')}}" alt=""></a></div>
                        </div>
                        <div class="carousel-items">
                            {% for row in latestMovies %}
                            <div class="span3 carousel-block">
                                <div data-placement="left" class="productbox" data-trigger="hover"
                                     data-container="body" rel="popover" data-html="true" data-placement="left"
                                     data-title='<h3 class="popover-title">{{ row.title|raw }}</h3>'
                                     data-content='
                                                                 <div class="popover-content" >
                                                                {{ ucWord(row.movieTag|replace({',':' | '})) }}
                                                                 <p>{{ trim_text(row.details,60) }}</p>
                                                                 <b>Cast:</b> {{ trim_text(row.cast,40) }}
                                                                 <br>
                                                                 <b>Director:</b> {{ row.director }}
                                                                 <br>
                                                                 <b>Subtitles:</b> {{ row.subtitle }}
                                                                 <br>
                                                                 </div>
                                                                 </div>'>
                                    <div class="imgthumb img-responsive">
                                        <a href="{{ urlFor('video-detail') }}/{{ row.url }}/{{ row.mid}}">
                                            <img src="Asset/thumb/thumb.php?src={{ row.image }}&w=234&h=338">
                                            <span class="glyphicon glyphicon-play-circle"></span>
                                        </a>
                                    </div>
                                    <div class="caption">
                                        <h5>{{ trim_text(row.title,18) }}</h5>
                                    </div>
                                    <div class="shape">
                                        <div class="shape-text">
                                            {% if(row.movieType=='subscription') %}
                                                Subscribe
                                            {% else %}
                                                {{ ucWord(row.movieType) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        </div>

                    </div>


        {% for playlist in playlists %}
                <div class="col-xs-12">
                    <div class="row">
                    <span class="playlist-title" > {{ ucWord(playlist.ptitle) }} </span>
                    <span class="view-all"><a href="{{ urlFor('playlist-all') }}/{{ playlist.pid }}">View All &raquo;</a></span></br>
                    </div>
                    {% if 'free' in playlist.ptitle|lower %}
                        <div class="row">
                            <div class="carouseller row-fluid for-car" id="freeMovieCarousel">
                                <div class="carousel-wrapper">
                                    <div class="carousel-control-block">
                                        <div class="carousel-button-left shadow"><a href="javascript:void(0)"><img src="{{ Asset('/Asset/Site/img/altPre.png')}}" alt=""></a></div>
                                        <div class="carousel-button-right shadow"><a href="javascript:void(0)"><img src="{{ Asset('/Asset/Site/img/altNext.png')}}" alt=""></a></div>
                                    </div>
                                    <div class="carousel-items">
                                        {% for row in playlist.subplaylist %}
                                            <div class="span3 carousel-block">
                                                <div data-placement="left" class="productbox" data-trigger="hover"
                                                     data-container="body" rel="popover" data-html="true" data-placement="left"
                                                     data-title='<h3 class="popover-title">{{ row.title|raw }}</h3>'
                                                     data-content='
                                                                 <div class="popover-content" >
                                                                {{ ucWord(row.movieTag|replace({',':' | '})) }}
                                                                 <p>{{ trim_text(row.details,60) }}</p>
                                                                 <b>Cast:</b> {{ trim_text(row.cast,40) }}
                                                                 <br>
                                                                 <b>Director:</b> {{ row.director }}
                                                                 <br>
                                                                 <b>Subtitles:</b> {{ row.subtitle }}
                                                                 <br>
                                                                 </div>
                                                                 </div>'>
                                                    <div class="imgthumb img-responsive">
                                                        <a href="{{ urlFor('video-detail') }}/{{ row.url }}/{{ row.mid}}">
                                                            <img src="Asset/thumb/thumb.php?src={{ row.image }}&w=234&h=338">
                                                            <span class="glyphicon glyphicon-play-circle"></span>
                                                        </a>
                                                    </div>
                                                    <div class="caption">
                                                        <h5>{{ trim_text(row.title,18) }}</h5>
                                                    </div>
                                                    <div class="shape">
                                                        <div class="shape-text">
                                                            {% if(row.movieType=='subscription') %}
                                                                Subscribe
                                                            {% else %}
                                                                {{ ucWord(row.movieType) }}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            {% for row in playlist.subplaylist %}
                                {% if(row.movieType !='free') %}

                                    <div class="col-xs-12 col-sm-4 col-md-15">

                                        <div data-placement="left" class="productbox" data-trigger="hover" data-container="body"
                                             rel="popover" data-html="true" data-placement="left"
                                             data-title='<h3 class="popover-title">{{ row.title }}</h3>' data-content='
                             <div class="popover-content" >
                                 {{ ucWord(row.movieTag|replace({',':' | '})) }}
                             <p>{{ trim_text(row.details,60) }}</p>
                             <b>Cast:</b> {{ trim_text(row.cast,40) }}
                             <br>
                             <b>Director:</b> {{ row.director }}
                             <br>
                             <b>Subtitles:</b> {{ row.subtitle }}
                             <br>
                             </div>
                             </div>'>
                                            <div class="imgthumb img-responsive">
                                                <a href="{{ urlFor('video-detail') }}/{{ row.url }}/{{ row.mid}}">
                                                    <img src="Asset/thumb/thumb.php?src={{ row.image }}&w=234&h=338">
                                                    <span class="glyphicon glyphicon-play-circle"></span>
                                                </a>
                                            </div>
                                            <div class="caption">
                                                <h5>{{ trim_text(row.title,30) }}</h5>
                                            </div>
                                            <div class="shape">
                                                <div class="shape-text">
                                                    {% if(row.movieType=='subscription') %}
                                                        Subscribe
                                                    {% else %}
                                                        {{ ucWord(row.movieType) }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

        {% endfor %}


            <!--/container -->
        </div>
    </div>
{% endblock %}

{% block exttraJs %}
    {#<script>#}
        {#$(document).ready(function(){#}
            {#$('.carousel[data-type="multi"] .item').each(function(){#}
                {#var next = $(this).next();#}
                {#if (!next.length) {#}
                    {#next = $(this).siblings(':first');#}
                {#}#}
                {#next.children(':first-child').clone().appendTo($(this));#}

                {#for (var i=0;i<2;i++) {#}
                    {#next=next.next();#}
                    {#if (!next.length) {#}
                        {#next = $(this).siblings(':first');#}
                    {#}#}

                    {#next.children(':first-child').clone().appendTo($(this));#}
                {#}#}
            {#});#}
        {#});#}
    {#</script>#}
    <script>
        $(document).ready(function() {
            $('.carousel').carousel({
                interval: 4000
            })
        });
    </script>
    <script src="{{ Asset('/Asset/Site/js/carouseller.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            carouseller = new carousel('#latestMovieCarousel');
            carouseller = new carousel('#freeMovieCarousel');
        });
    </script>

{% endblock %}

