{% extends "@Admin/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content %}
    <h1 class="page-header">
        Movie
    </h1>
    <div class="row">

    <form role="form" id="movie-add-form" class="form-action" action="{{ urlFor('admin-movie-add') }}" method="POST" enctype="multipart/form-data">

        {% if errMsg %}
            <div class="alert alert-danger">{{ errMsg }}</div>
        {% endif %}

        {% if succMsg %}
            <div class="alert alert-success">{{ succMsg }}</div>
        {% endif %}

        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading"><h4 class="panel-title">Basic Information <a href="{{ urlFor('admin-movie') }}" style="float:right;" class=" btn btn-primary btn-xs">
                            <i class="fa fa-arrow-circle-left">
                            </i>&nbsp;Back
                        </a></h4></div>
                <div class="panel-body">

                <p class="errMsg">{{ v.getError('Title') }}</p>

                <div class="row devRegion">
                    <label class="col-xs-3" for="inputPassword1">
                        Movie Name( Title ) <span class="text-danger">*</span>
                    </label>

                    <div class="col-xs-9">
                        <input type="text" name="title" value="{{ v.rePopulate('title',reset) }}" class="form-control" id="group" placeholder="Movie Name | Title">
                    </div>
                </div>
                <br/>

                <p class="errMsg">{{ v.getError('Category') }}</p>

                <div class="row">
                    <label class="col-xs-3" for="image">Category </label>

                    <div class="col-xs-3">
                        <select class="selectpicker" name="category">
                            <option value="">Select One</option>
                            {% for cat in categories %}
                                <option value="{{ cat.id }}" {{ v.RePopulateSelect('category',cat.id,reset) }}>{{ cat.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br/>


                <p class="errMsg">{{ v.getError('Trailer Id') }}</p>

                <div class="row devRegion">
                    <label class="col-xs-3" for="inputPassword1">
                        Trailer Id
                    </label>

                    <div class="col-xs-9">
                        <input type="text" name="trailer_id"
                               value="{{ v.rePopulate('trailer_id',reset) }}"
                               class="form-control" id="group" placeholder="Trailer Id">
                    </div>
                </div>
                <br/>

                <p class="errMsg">{{ v.getError('Full Movie Id') }}</p>

                <div class="row devRegion">
                    <label class="col-xs-3" for="inputPassword1">
                        Full movie Id
                    </label>

                    <div class="col-xs-9">
                        <input type="text" name="full_id" value="{{ v.rePopulate('full_id',reset) }}"
                               class="form-control" id="group" placeholder="Full movie Id">
                    </div>
                </div>
                <br/>

                <p class="errMsg">{{ v.getError('Movie Type') }}</p>

                <div class="row">
                    <label class="col-xs-3" for="image">
                        Movie Type
                    </label>

                    <div class="col-xs-3">
                        {% set fields = [ {'key': 'Subscription', 'value':  'subscription'}, { 'key': 'Free', 'value': 'free'}, { 'key':'Premium', 'value': 'premium'} ] %}
                        <select class="selectpicker" name="movie_type">
                            <option value="">Select One</option>
                            {% for row in fields %}
                                <option value="{{ row.value }}" {{ v.RePopulateSelect('movie_type',row.value,reset) }}>{{ row.key }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br/>


                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading"><h4 class="panel-title">Meta Information</h4></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="meta_author">Meta Author</label>
                        <input type="text" name="meta_author" value="" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="meta_keywords">Meta Keywords</label>
                        <input type="text" name="meta_keywords" value="" class="form-control" data-role="tagsinput" id="meta_keywords" />
                    </div>

                    <p class="errMsg">{{ v.getError('Meta Description') }}</p>
                    <div class="form-group">
                        <label for="meta_description">Meta Description <span class="text-danger">*</span></label>
                        <textarea name="meta_description" id="meta_description" class="form-control simple" ></textarea>
                        <div class="info"><small>Character limits <i id="char_left_count"></i></small></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading"><h4 class="panel-title">Other Information</h4></div>
                <div class="panel-body">
                    <p class="errMsg">{{ v.getError('Price') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="inputPassword1">
                            Price
                        </label>

                        <div class="col-xs-3">
                            <input type="text" name="price" value="{{ v.rePopulate('price',reset) }}"
                                   class="form-control" id="group" placeholder="Price">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Cast') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="inputPassword1">
                            Cast
                        </label>

                        <div class="col-xs-3">
                            <input type="text" name="cast" value="{{ v.rePopulate('cast',reset) }}"
                                   class="form-control" id="group" placeholder="Cast">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Director') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="inputPassword1">
                            Director
                        </label>

                        <div class="col-xs-3">
                            <input type="text" name="director" value="{{ v.rePopulate('director',reset) }}"
                                   class="form-control" id="group" placeholder="Director">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Subtitle') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="inputPassword1">
                            Subtitles
                        </label>

                        <div class="col-xs-3">
                            <input type="text" name="subtitle" value="{{ v.rePopulate('subtitle',reset) }}"
                                   class="form-control" id="group" placeholder="Subtitles">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Language') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="inputPassword1">
                            Language
                        </label>

                        <div class="col-xs-3">
                            <input type="text" name="language" value="{{ v.rePopulate('language',reset) }}"
                                   class="form-control" id="group" placeholder="Language">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Music') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="inputPassword1">
                            Music
                        </label>

                        <div class="col-xs-3">
                            <input type="text" name="music" value="{{ v.rePopulate('music',reset) }}"
                                   class="form-control" id="group" placeholder="Music">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Movie Tag') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="title">
                            Movie Tags <span class="text-danger">*</span>
                        </label>

                        <div class="col-xs-9">
                            <input type="text" name="movie_tags"
                                   value="{{ v.rePopulate('movie_tags',reset) }}" class="form-control"
                                   data-role="tagsinput" id="group" placeholder="Movie Tags">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Movie Image') }}</p>

                    <div class="row">
                        <label class="col-xs-3" for="image">
                            Movie Image
                        </label>

                        <div class="col-xs-9">
                            <input type="file" name="image">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Details') }}</p>

                    <div class="row">
                        <label class="col-xs-3" for="details">
                            Details<span class="text-danger">*</span>
                        </label>

                        <div class="col-xs-9 pull-right">
                            <textarea name="details" class="form-control" id="tinyEditor"
                                      rows="12">{{ v.rePopulate('details',reset) }}</textarea>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="col-lg-12">
            <input type="submit" class="btn btn-success" value="Save">
            <input type="reset" class="btn btn-danger" value="Cancel">
        </div>


        </form>

    </div>
    <!-- /.row -->

{% endblock %}


{% block js %}
<script type="text/javascript">
    $(document).ready(function(){

        var meta_desc_char_count = 156,
                charDescObj = $('#char_left_count'),
                descTextArea = $('#meta_description'),
                form = $('#movie-add-form'),
                charLeft = meta_desc_char_count - parseInt(descTextArea.val().length);

        charDescObj.html(charLeft);

        $('#meta_description').on('keyup', function(){
            var textLength = $(this).val().length,
                    left = meta_desc_char_count - textLength;

            if( left < 0 ){
                $(this).css({'border-color':'#f00'});
                charDescObj.css({'color':'#f00'});
            }else{
                $(this).css({'border-color':'none'});
                charDescObj.css({'color':'none'});
            }

            charDescObj.html(left);
        });

        form.submit(function(){
            if( descTextArea.val().length > meta_desc_char_count || descTextArea.val().length < 10 ){
                alert('Meta description must contain 10 to'+meta_desc_char_count+' characters.');
                descTextArea.focus();
                return false;
            }
        });

    });

</script>
{% endblock %}