{% extends "@Admin/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content%}
    <h1 class="page-header">
        Movie
    </h1>
    <div class="row">

    <form role="form" id="movie-edit-form" class="form-action" action="{{ urlFor('admin-movie-edit')}}/{{ encode(row.id) }}" method="POST" enctype="multipart/form-data">

        {% if errMsg %}
            <div class="alert alert-danger">{{ errMsg }}</div>
        {% endif %}

        {% if succMsg %}
            <div class="alert alert-success">{{ succMsg }}</div>
        {% endif %}

        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading"><h4 class="panel-title">Basic Information
                        <a href="{{ urlFor('admin-movie')}}" style="float:right;" class=" btn btn-primary btn-xs">
                            <i class="fa fa-arrow-circle-left">
                            </i>&nbsp;Back
                        </a></h4></div>
                <div class="panel-body">
                    <p class="errMsg">{{ v.getError('Title') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="inputPassword1">
                            Movie Name( Title ) <span class="text-danger">*</span>
                        </label>

                        <div class="col-xs-9">
                            <input type="text" name="title" value="{{ row.title }}"
                                   class="form-control" id="group" placeholder="Movie Name | Title">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Category') }}</p>

                    <div class="row">
                        <label class="col-xs-3" for="image">
                            Category
                        </label>

                        <div class="col-xs-3">
                            <select class="selectpicker" name="category">
                                <option value="">Select One</option>
                                {% for cat in categories %}
                                    <option value="{{ cat.id }}"{% if row.cat_id == cat.id %}selected{% endif %}>{{ cat.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Trailer Id') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="inputPassword1">
                            Trailer Id
                        </label>

                        <div class="col-xs-9">
                            <input type="text" name="trailer_id"
                                   value="{{ row.trailer_link }}"
                                   class="form-control" id="group" placeholder="Trailer Id">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Full Movie Id') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="inputPassword1">
                            Full movie Id
                        </label>

                        <div class="col-xs-9">
                            <input type="text" name="full_id" value="{{ row.full_link }}"
                                   class="form-control" id="group" placeholder="Full movie Id">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Movie Type') }}</p>

                    <div class="row">
                        <label class="col-xs-3" for="image">
                            Movie Type
                        </label>

                        <div class="col-xs-3">
                            {% set fields = [ {'key': 'Subscription', 'value':  'subscription'}, { 'key': 'Free', 'value': 'free'}, { 'key':'Premium', 'value': 'premium'} ] %}
                            <select class="selectpicker" name="movie_type">
                                <option value="">Select One</option>
                                {% for res in fields %}
                                    <option value="{{ res.value }}" {% if row.movie_type == res.value %}selected{% endif %}>{{ res.key }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br/>


                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading"><h4 class="panel-title">Meta Information</h4></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="meta_author">Meta Author</label>
                        <input type="text" name="meta_author" value="{{ row.meta_author }}" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="meta_keywords">Meta Keywords</label>
                        <input type="text" name="meta_keywords" value="{{ row.meta_keywords }}" class="form-control" data-role="tagsinput" id="meta_keywords" />
                    </div>

                    <p class="errMsg">{{ v.getError('Meta Description') }}</p>
                    <div class="form-group">
                        <label for="meta_description">Meta Description <span class="text-danger">*</span></label>
                        <textarea name="meta_description" id="meta_description" class="form-control simple" >{{ row.meta_description }}</textarea>
                        <div class="info"><small>Character limits <i id="char_left_count"></i></small></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading"><h4 class="panel-title">Other Information</h4></div>
                <div class="panel-body">
                    <p class="errMsg">{{ v.getError('Price') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="inputPassword1">
                            Price ($)
                        </label>

                        <div class="col-xs-3">
                            <input type="text" name="price" value="{{ row.price}}"
                                   class="form-control" id="group" placeholder="Price">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Cast') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="inputPassword1">
                            Cast
                        </label>

                        <div class="col-xs-3">
                            <input type="text" name="cast" value="{{ row.cast }}"
                                   class="form-control" id="group" placeholder="Cast">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Director') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="inputPassword1">
                            Director
                        </label>

                        <div class="col-xs-3">
                            <input type="text" name="director" value="{{ row.director }}"
                                   class="form-control" id="group" placeholder="Director">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Subtitle') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="inputPassword1">
                            Subtitles
                        </label>

                        <div class="col-xs-3">
                            <input type="text" name="subtitle" value="{{ row.subtitle }}"
                                   class="form-control" id="group" placeholder="Subtitles">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Language') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="inputPassword1">
                            Language
                        </label>

                        <div class="col-xs-3">
                            <input type="text" name="language" value="{{ row.language }}"
                                   class="form-control" id="group" placeholder="Language">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Music') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="inputPassword1">
                            Music
                        </label>

                        <div class="col-xs-3">
                            <input type="text" name="music" value="{{ row.music }}"
                                   class="form-control" id="group" placeholder="Music">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Movie Tag') }}</p>

                    <div class="row devRegion">
                        <label class="col-xs-3" for="title">
                            Movie Tags <span class="text-danger">*</span>
                        </label>

                        <div class="col-xs-9">
                            <input type="text" name="movie_tags" value="{{ row.movie_tag }}" class="form-control" data-role="tagsinput" id="group" placeholder="Movie Tags">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.GetError('Movie Image') }}</p>
                    <div class="row">
                        <input type="hidden" name='old_image' value="{{ row.image }}">
                        <label class="col-xs-3" for="image">
                            Movie Image
                        </label>
                        <div class="col-xs-2">
                            {% if row.image %}
                                <img src="{{ AssetUri }}/Asset/thumb/thumb.php?src={{ AssetUri }}/{{ row.image }}&w=72&h=100"/>
                            {% else %}
                                <img src="{{ AssetUri }}/Asset/thumb/thumb.php?src={{ AssetUri }}/Asset/Admin/images/no_image.png&w72&h=100"/>
                            {% endif %}
                            <input type="file" name="image">
                        </div>
                    </div>
                    <br/>

                    <p class="errMsg">{{ v.getError('Details') }}</p>

                    <div class="row">
                        <label class="col-xs-3" for="details">
                            Details<span class="text-danger">*</span>
                        </label>

                        <div class="col-xs-9 pull-right">
                            <textarea name="details" class="form-control" id="tinyEditor"
                                      rows="12">{{ row.details }}</textarea>
                        </div>
                    </div>
                    <br/>

                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <input type="submit" class="btn btn-success" value="Save">
            <input type="reset" class="btn btn-danger" value="Cancel">
        </div>

    </form>

    </div>
    <!-- /.row -->
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){

            var meta_desc_char_count = 156,
                    charDescObj = $('#char_left_count'),
                    descTextArea = $('#meta_description'),
                    form = $('#movie-edit-form'),
                    charLeft = meta_desc_char_count - parseInt(descTextArea.val().length);

            charDescObj.html(charLeft);

            $('#meta_description').on('keyup', function(){
                var textLength = $(this).val().length,
                    left = meta_desc_char_count - textLength;

                if( left < 0 ){
                    $(this).css({'border-color':'#f00'});
                    charDescObj.css({'color':'#f00'});
                }else{
                    $(this).css({'border-color':'none'});
                    charDescObj.css({'color':'none'});
                }

                charDescObj.html(left);
            });

            form.submit(function(){
                if( descTextArea.val().length > meta_desc_char_count || descTextArea.val().length < 10 ){
                    alert('Meta description must contain 10 to'+meta_desc_char_count+' characters.');
                    descTextArea.focus();
                    return false;
                }
            });

        });

    </script>
{% endblock %}