<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="810651348370-qais0vasdvluq2a2rrd713nr5l8notnp.apps.googleusercontent.com">

    {% block meta %}{% endblock %}

    <title>{% block title %}{% endblock %} Hamro Movie | Ramro Movie | Nepali movie | Free Movie | Top Movie | Nepali Movie Collection | Latest Movie</title>

    <!-- Bootstrap -->
    <link href="{{ Asset('/Asset/Site/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ Asset('/Asset/Site/css/bootstrap-popover-x.min.css')}}" rel="stylesheet">
    <link href="{{ Asset('/Asset/Site/css/half-slider.css')}}" rel="stylesheet">
    <link href="{{ Asset('/Asset/Site/css/custom.css')}}" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
    	stLight.options({publisher: "839a678e-e7e7-4e3e-ac28-45a457280e45", doNotHash: false, doNotCopy: false, hashAddressBar: false});
    </script>


</head>
<body class="container-fluid jumbotron">
{{ include('@Site/_INC/header.twig') }}
<div class="clearfix"></div>
{% if App.request.get('ps') %}
    {% if App.request.get('ps') == 's' %}
        <div class="alert alert-success text-center">Your payment has been accepted. Enjoy the Movie</div>
    {% endif %}

    {% if App.request.get('ps') == 'pc' %}
        <div class="alert alert-warning text-center">Your payment has been cancelled. Please try again later</div>
    {% endif %}
{% endif %}
<div class="clearfix"></div>
    {% block content %}

        <!----
        |INNER CONTENT STARTS
        ---->

        WELCOME TO MASTER PAGE
        <!----
        |INNER CONTENT ENDS
         ---->

    {% endblock %}

</div>
</div>
{{ include('@Site/_INC/footer.twig') }}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ Asset('/Asset/Site/js/jquery.min1.11.2.js') }}"></script>
<script src="{{ Asset('/Asset/Site/js/bootstrap.min.js') }}"></script>
<script src="{{ Asset('/Asset/Site/js/bootstrap-popover-x.min.js') }}"></script>
<script src="{{ Asset('/Asset/Site/js/readmore.min.js') }}"></script>
<script src="{{ Asset('/Asset/Site/js/popoverInit.js') }}"></script>

<script>
    $(document).ready(function(){
        $('ul.nav li.dropdown').hover(function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(400);
        }, function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(400);
        });


        /** POPUP **/
        var id = '#dialog';

        //Get the screen height and width
        var maskHeight = $(document).height();
        var maskWidth = $(window).width();

        //Set heigth and width to mask to fill up the whole screen
        $('#mask').css({'width': maskWidth, 'height': maskHeight});

        //transition effect
        $('#mask').fadeIn(500);
        $('#mask').fadeTo("slow", 0.9);

        //Get the window height and width
        var winH = $(window).height();
        var winW = $(window).width();

        //Set the popup window to center
        $(id).css('top', winH / 2 - $(id).height() / 2);
        $(id).css('left', winW / 2 - $(id).width() / 2);

        //transition effect
        $(id).fadeIn(2000);

        //if close button is clicked
        $('.window .close, span.crossBtn').click(function (e) {
            //Cancel the link behavior
            e.preventDefault();

            $('#mask').hide();
            $('.window').hide();
        });

        //if mask is clicked
        $('#mask').click(function () {
            $(this).hide();
            $('.window').hide();
        });

        /** POPUP **/


    });
</script>
{% block exttraJs %}{% endblock %}
<!-- Include all compiled plugins (below), or include individual files as needed -->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-66609884-1', 'auto');
    ga('send', 'pageview');
</script>

	{#<script>#}
	  {#(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){#}
	  {#(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),#}
	  {#m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)#}
	  {#})(window,document,'script','//www.google-analytics.com/analytics.js','ga');#}
	{##}
	  {#ga('create', 'UA-63686578-1', 'auto');#}
	  {#ga('send', 'pageview');#}
	{##}
	{#</script>#}
</body>
</html>