{% extends '@Admin/_layout.twig' %}
{% block wrapper %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Admin Login</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="" data-toggle="validator"  method="POST">
                            <fieldset>
                                    <p class="errMsg">{{errMsg}}</p>
                                    <p class="errMsg">{{ v.GetError('Email') }}</p>

                                <div class="form-group">
                                    <label for="inputEmail" class="control-label">Email</label>
                                    <input type="email" name="email"  value="{{email}}" class="form-control" id="inputEmail" placeholder="Email"  required>
                                    <!--div class="help-block with-errors"></div -->
                                </div>

                                    <p class="errMsg">{{ v.GetError('Password') }}</p>

                                <div class="form-group">
                                    <label for="inputPass" class="control-label">Password</label>
                                    <input type="password" name="pass"  value="" class="form-control" id="inputPass" placeholder="Password" required>
                                </div>

                                    <p class="errMsg">{{ v.GetError('Captcha') }}</p>

                                <input name="hidSum" type="hidden" value="{{ hidSum }}" >
                                <div class="form-group input-group">
                                    <span class="input-group-addon">{{dspNum}} </span>
                                    <input  placeholder="Sum" name="inpSum" type="text" value="" class="form-control" id="inputCaptcha" placeholder="Sum" data-error="Captcha Required" required>
                                </div>

                                <div class="form-group">
                                    <p>
                                        &nbsp; <a href="{{ urlFor('forgot') }}" class="link">Forgot Password ?</a>
                                    </p>

                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" name="login" class="btn btn-lg btn-success btn-block" value="Login">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}