{% extends '@Admin/_layout.twig' %}
{% block content%}
    <h1 class="page-header">
        View Profile
    </h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    View Profile
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-11">
                            <form role="form" class="form-action" >
                                <div class="row devRegion">
                                    <label class="col-xs-3" for="inputPassword1">
                                        First Name
                                    </label>
                                    <div class="col-xs-9">
                                        <input type="text" value="{{ row.first_name }}" disabled class="form-control" id="group" >
                                    </div>
                                </div>
                                <br/>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="inputPassword1">
                                        Last Name
                                    </label>
                                    <div class="col-xs-9">
                                        <input type="text" value="{{ row.last_name }}" disabled class="form-control" id="group">
                                    </div>
                                </div>
                                <br/>
                                <div class="row devRegion">
                                    <label class="col-xs-3" for="inputPassword1">
                                        Email
                                    </label>
                                    <div class="col-xs-9">
                                        <input type="text" value="{{ row.email}}" disabled  class="form-control" id="group" >
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}