{% extends "@Admin/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content %}
    <h3 class="page-header">
        {{ roleData.role_type }}
    </h3>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-th-list"></i> Playlist <span class="badge"> {{ totalRecords }}</span>
                    <a href="{{ urlFor('admin-playlist') }}?clear=1" style="float:right;"
                       class=" btn btn- btn-outline  btn-xs">
                        <i class="fa fa-refresh">
                        </i>&nbsp;Refresh
                    </a>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <span class="errMsg">{{ errMsg }}</span>
                        <br/>

                        <span class="succMsg">{{ succMsg }}</span>
                        <br/>

                        <div class="row col-xs-4">
                            <form action="{{ urlFor('admin-playlist') }}" method="POST">
                                <div class="form-group input-group">
                                    <input type="text" name="q" class="form-control" placeholder="Title"
                                           required/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-warning" type="button">
                                        <i class="fa fa-search">
                                        </i>
                                    </button>
                                </span>
                                </div>
                            </form>
                        </div>
                        <form action="{{ urlFor('admin-playlist-delete') }}" method="POST">
                            <div class="left-grid-action">
                                <!--<div class="btn-group">
                                          <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> User</a>
                                          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                                <span class="fa fa-caret-down"></span></a>
                                          <ul class="dropdown-menu">
                                                <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
                                                <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
                                                <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#"><i class="i"></i> Make admin</a></li>
                                          </ul>
                                        </div>-->
                                <a href="{{ urlFor('admin-playlist-add') }}" class="btn btn-xs btn-success btn-outline">
                                    <i class="fa fa-plus">
                                        &nbsp;
                                    </i>Add
                                </a>&nbsp;&nbsp;
                                <button type="submit" class="btn btn-xs btn-danger btn-outline"
                                        onclick=" return confirm('Are You Sure To Delete Permanentaly')">
                                    <i class="fa fa-trash-o">
                                    </i>&nbsp;Trash
                                </button>
                            </div>
                            <div class="clear"></div>
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr class="label-primary text-white">
                                    <th>
                                        ID <a href="{{ urlFor('admin-playlist') }}?t=id&s={{ sort }}"><span
                                                    class="glyphicon glyphicon-sort"
                                                    style="color:darkorange"></span></a>
                                    </th>
                                    <th>
                                        Title <a href="{{ urlFor('admin-playlist') }}?t=title&s={{ sort }}"><span
                                                    class="glyphicon glyphicon-sort"
                                                    style="color:darkorange"></span></a>
                                    </th>
                                    <th>
                                        Sort Order<a href="{{ urlFor('admin-playlist') }}?t=sort&s={{ sort }}"><span
                                                    class="glyphicon glyphicon-sort"
                                                    style="color:darkorange"></span></a>
                                    </th>
                                    <th>
                                        Created Date <a href="{{ urlFor('admin-playlist') }}?t=created_at&s={{ sort }}"><span
                                                    class="glyphicon glyphicon-sort"
                                                    style="color:darkorange"></span></a>
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        View Sublist
                                    </th>
                                    <th>
                                        Edit
                                    </th>
                                    <th>
                                        View
                                    </th>
                                    <th>
                                        <input type="checkbox" onchange="checkAll(this, 'toDelete[]')"> All
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if results|length >0 %}
                                {% for key,row in results %}
                                    <tr>
                                        <td>
                                            {{ row.id }}
                                        </td>
                                        <td>
                                            {{ row.title }}
                                        </td>
                                        <td>
                                            {{ row.sort }}
                                        </td>
                                        <td>
                                            {{ relative_date(row.created_at) }}
                                        </td>
                                        <td align="center">
                                            {% if row.status == 1 %}
                                                <a href="{{ urlFor('admin-playlist-status') }}?id={{ encode(row.id) }}">
                                                    <i class="fa fa-toggle-on fa-lg text-success">
                                                    </i>
                                                </a>
                                            {% else %}
                                                <a href="{{ urlFor('admin-playlist-status') }}?id={{ encode(row.id) }}">
                                                    <i class="fa fa-toggle-off fa-lg text-danger">
                                                    </i>
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>

                                            <a href="{{ urlFor('admin-sub-playlist') }}/{{ row.id }}" data-placement="top" data-toggle="tooltip"  data-original-title="View Plylist" onclick="return hs.htmlExpand( this, {objectType: 'iframe',preserveContent: false,dragByHeading: true,width: 800,autosize: true,anchor: 'bottom right' ,wrapperClassName: 'no-footer alertBox' } )"
                                               class=" btn btn-primary btn-outline btn-xs"><i class="fa fa-pencil-square-o">
                                                </i>&nbsp;Modify Sublist</a>
                                        </td>
                                        <td>
                                            <a href="{{ urlFor('admin-playlist-edit') }}/{{ encode(row.id) }}" >
                                                <img src="{{ Asset('/Asset/Admin/images/edit-new.png') }}" height="25"
                                                     width="25"/>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ urlFor('admin-playlist-details') }}/{{ encode(row.id) }}">
                                                <img src="{{ Asset('/Asset/Admin/images/search.png') }}" height="25"
                                                     width="25"/>
                                            </a>
                                        </td>
                                        <td>
                                            <div>
                                                <label>
                                                    <input type="checkbox" value="{{ encode(row.id) }}"
                                                           name="toDelete[]">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tfoot>
                                <td colspan="9">
                                    {{ pagination|raw }}
                                </td>
                                </tfoot>
                                {% else %}
                                    <td colspan="9" class="errMsg"> No Result Found Try Again</td>
                                {% endif %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
{% endblock %}
{% block js %}
    <script>
        $('a').tooltip();
    </script>
{% endblock %}