{% extends "@Admin/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-th-list"></i> Playlist <span class="badge"> {{ totalRecords }}</span>
                    <a href="#" onclick="javascript:parent.window.hs.close();" style="float:right;"
                       class=" btn btn-danger btn-xs">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <span class="errMsg">{{ errMsg }}</span>
                        <span class="succMsg">{{ succMsg }}</span>
                        <form action="{{ urlFor('admin-sub-playlist-delete') }}/{{ pid }}" method="POST">
                            <div class="left-grid-action">
                                <button type="submit" class="btn btn-xs btn-danger btn-outline"
                                        onclick=" return confirm('Are You Sure To Delete Permanentaly')">
                                    <i class="fa fa-trash-o">
                                    </i>&nbsp;Remove
                                </button>
                            </div>
                            <div class="clear"></div>
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr class="label-default text-white">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Created Date
                                    </th>
                                    <th>
                                        <input type="checkbox" onchange="checkAll(this, 'toDelete[]')"> All
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if results|length >0 %}
                                {% for key,row in results %}
                                    <tr>
                                        <td>
                                            {{ row.id }}
                                        </td>
                                        <td>
                                            {{ row.title }}
                                        </td>
                                        <td>
                                            {{ relative_date(row.created_at) }}
                                        </td>
                                        <td>
                                            <div>
                                                <label>
                                                    <input type="checkbox" value="{{ encode(row.id) }}"
                                                           name="toDelete[]">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tfoot>
                                </tfoot>
                                {% else %}
                                    <td colspan="6" class="errMsg"> No Result Found Try Again</td>
                                {% endif %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
{% endblock %}
{% block js %}
    <script>
        $('a').tooltip();
    </script>
{% endblock %}