{% extends "@Admin/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block wrapper %}
    <div class="row popup-gallery">
        <div class="panel panel-warning">
            <div class="panel-heading">
                Add Playlist
                <a href="#" onclick="javascript:parent.window.hs.close();" style="float:right;"
                   class=" btn btn-danger btn-xs">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-9">
                        <form role="form" class="form-action" action="{{ urlFor('admin-sub-playlist-add') }}/{{ mid }}"
                              method="POST" enctype="multipart/form-data">

                            <p class="errMsg">{{ errMsg }}</p>

                            <p class="succMsg">{{ succMsg }}</p>

                            <br/>


                            <p class="errMsg">{{ v.getError('Playlist') }}</p>

                            <div class="row">
                                <label class="col-xs-3" for="image">
                                    Playlist
                                </label>

                                <div class="col-xs-3">
                                    <select class="selectpicker" name="playlist_id">
                                        {% for row in playlist %}
                                            <option value="{{ row.id }}" {{ v.RePopulateSelect('playlist_id',row.id,reset) }}>{{ row.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-xs-9">
                                    <input type="submit" class="btn btn-small btn-success" value="Save">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

    </div>
    <!-- /.row -->
{% endblock %}